Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-ubuntu-xenial, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nameserver, opendev-buildset-registry, build-openstack-specs-site, project-config-grafana, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, infra-prod-service-zuul, infra-prod-run-accessbot, infra-prod-service-eavesdrop, infra-prod-service-grafana, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-3.10: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-3.10: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-3.10: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  opendev-buildset-registry: any of: ^grafana/.*$
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-grafana: any of: ^grafana/.*$
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  infra-prod-service-zuul: any of: zuul/main.yaml
  infra-prod-run-accessbot: any of: accessbot/channels.yaml
  infra-prod-service-eavesdrop: any of: gerritbot/channels.yaml
  infra-prod-service-grafana: any of: ^grafana/.*$
  zuul-migrate: any of: zuul/mapping.yaml

Pull grafyaml from quay.io
  grafana/run-grafana.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, opendev-buildset-registry, project-config-grafana, infra-prod-service-grafana

Stop syncing run_tests/Vagrantfiles for OSA
  playbooks/proposal/sync_openstack_ansible_common_files.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Retire Monasca project
  gerrit/projects.yaml
  zuul.d/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Replace 2025.2/Flamingo key with 2026.1/Gazpacho
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Update all tenants to default to Ansible 11
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul

Stop using storyboard by Freezer
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Have more files trigger test-release-openstack
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Switch devstack propose-updates job to noble
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Disable ruamel automagic line wrapping
  tools/projectconfig_ruamellib.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Add repo app-metallb for starlingx
  gerrit/acls/starlingx/app-metallb.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

update_constraints.sh: Better describe what we're skipping
  roles/copy-release-tools-scripts/files/release-tools/update_constraints.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Remove mirror.openeuler utilization graph
  grafana/afs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, opendev-buildset-registry, project-config-grafana, infra-prod-service-grafana

Line-wrap projects.yaml but strip trailing spaces
  gerrit/projects.yaml
  tools/projectconfig_ruamellib.py
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Make update_constraints.sh work with pyproject.toml
  roles/copy-release-tools-scripts/files/release-tools/update_constraints.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Fix update_constraints.sh for 'python_version>=' cases
  roles/copy-release-tools-scripts/files/release-tools/update_constraints.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Initiate retirement of shade
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Retire shade
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Temporarily remove release docs semaphores
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Revert "Temporarily remove release docs semaphores"
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Use ubuntu-noble for publish-openstack-artifacts
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

ironic-inspector retirement: end most gating
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Metalsmith retirement: end gating
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Allow registered users to toggleWipState in OpenStack
  gerrit/acls/openstack/meta-config.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Add Kubernetes Module Manager app
  gerrit/acls/starlingx/app-kubernetes-module-manager.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Update zuul-launcher metrics
  grafana/create-nodepool.sh
  grafana/zuul-launcher-ir.template
  grafana/zuul-launcher-openmetal.json
  grafana/zuul-launcher-osuosl.json
  grafana/zuul-launcher-ovh.json
  grafana/zuul-launcher-rax.json
  grafana/zuul-launcher-raxflex.json
  grafana/zuul-launcher-vexxhost.json
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, opendev-buildset-registry, project-config-grafana, infra-prod-service-grafana

Further fixes to zuul-launcher metrics
  grafana/zuul-launcher-icr.template
  grafana/zuul-launcher-ir.template
  grafana/zuul-launcher-openmetal.json
  grafana/zuul-launcher-osuosl.json
  grafana/zuul-launcher-ovh.json
  grafana/zuul-launcher-rax.json
  grafana/zuul-launcher-raxflex.json
  grafana/zuul-launcher-vexxhost.json
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, opendev-buildset-registry, project-config-grafana, infra-prod-service-grafana

Set noop job for the governance-sigs repository
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Update StarlingX docs promote job for R11 release
  zuul.d/starlingx-jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Grafana: add core graphs to rackspace-flex
  grafana/create-nodepool.sh
  grafana/zuul-launcher-raxflex.json
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, opendev-buildset-registry, project-config-grafana, infra-prod-service-grafana

Rename Project to Kernel Module Management
  gerrit/acls/starlingx/app-kernel-module-management.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Add SeaweedFS App to StarlingX
  gerrit/acls/starlingx/app-seaweedfs.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Update Jeepyb's Gerrit builds to Gerrit 3.11
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Cleanup Monasca infra
  gerrit/acls/openstack/monasca-ui.config
  gerrit/acls/openstack/monasca.config
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-service-eavesdrop

Update app-seaweedfs config
  gerrit/acls/starlingx/app-seaweedfs.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Add privilegtes to #openstack-freezer
  accessbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-run-accessbot

[neutron] update dashboard with new jobs
  grafana/neutron.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, opendev-buildset-registry, project-config-grafana, infra-prod-service-grafana

Update description for retired roles
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects
