Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

project-config-check-main-yaml:
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

Fix ceph failure rate graph
  grafana/ceph.yaml
Due: none

Fix training-labs publish location
  playbooks/training-labs/post.yaml
  zuul.d/jobs.yaml
Due: none

Switch fuxi to release-openstack-server release template
  zuul.d/projects.yaml
Due: none

Move jenkins/data/bindep-fallback.txt (1/2)
  nodepool/elements/bindep-fallback.txt
  nodepool/elements/nodepool-base/post-install.d/89-data-files
  playbooks/bindep-fallback/run.yaml
  zuul.d/jobs.yaml
Due: none

Move jenkins/data/bindep-fallback.txt (2/2)
  jenkins/data/bindep-fallback.txt
  nodepool/elements/nodepool-base/post-install.d/89-jenkins-scripts
  zuul/site-variables.yaml
Due: none

Remove DIB images from citycloud
  nodepool/nodepool.yaml
Due: none

Correct host-vars syntax
  zuul.d/jobs.yaml
Due: none

Fix post training-labs playbook
  playbooks/training-labs/post.yaml
Due: none

Add new project 'osel'
  gerrit/acls/openstack/osel.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Import openstack-ansible-os_panko role
  gerrit/acls/openstack/openstack-ansible-os_panko.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add individual core group for openstack-ansible-os_gnocchi
  gerrit/acls/openstack/openstack-ansible-os_gnocchi.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Added docs and publish-to-pypi jobs to vitrage-tempest-plugin
  zuul.d/projects.yaml
Due: none

Regex gerritbot notifications: #fuel-tracker
  gerritbot/channels.yaml
Due: none

Add stable branch notification for openstack-cinder
  gerritbot/channels.yaml
Due: none

Regex gerritbot notifications: #openstack-nova
  gerritbot/channels.yaml
Due: none

Update bot for puppet-openstack to include Queens
  gerritbot/channels.yaml
Due: none

Regex gerritbot notifications: #openstack-ansible
  gerritbot/channels.yaml
Due: none

Remove migrated jobs for sahara repositories
  zuul.d/projects.yaml
Due: none

Add individual core group for openstack-ansible-os_neutron
  gerrit/acls/openstack/openstack-ansible-os_neutron.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Avoid import of zuul files
  tools/check_valid_gerrit_projects.py
Due: openstack-tox-linters

Add building of openSUSE Tumbleweed nodepool images
  nodepool/nodepool.yaml
Due: none

Switch cloudkitty-dashboard to use horizon job
  zuul.d/projects.yaml
Due: none

Reduce duplicate data in nodepool configuration
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
Due: none

Bring online opensuse-tumbleweed images
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add OSA os_panko repo base jobs
  zuul.d/projects.yaml
Due: none

Add OSA nspawn host/container repo base jobs
  zuul.d/projects.yaml
Due: none

Dragonflow: Add requirement for neutron-dynamic-routing in tests
  zuul.d/projects.yaml
Due: none

Fix typo in tools/check_valid_gerrit_projects.py
  tools/check_valid_gerrit_projects.py
Due: openstack-tox-linters

Add zuul config for new project 'osel'
  zuul.d/projects.yaml
Due: none

Remove legacy tempest bitrot jobs for pike
  zuul.d/projects.yaml
Due: none

Limt jobs on release-tools presentations
  zuul.d/projects.yaml
Due: none

Switch notifications for stable branches to match all
  gerritbot/channels.yaml
Due: none

Add certbot-dns-openstack repo
  gerrit/acls/openstack/certbot-dns-openstack.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add zuul entry for certbot-dns-openstack
  zuul.d/projects.yaml
Due: none

Adds publish-to-pypi to oswin-tempest-plugin
  zuul.d/projects.yaml
Due: none

Change windmill jobs from fedora-26 to fedora-27
  zuul.d/projects.yaml
Due: none

Switch bindep testing to fedora-27
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Remove legacy-devstack-dsvm-py36-updown-fedora-26
  zuul.d/projects.yaml
Due: none

Switch devstack / tempest testing to fedora-27
  zuul.d/projects.yaml
Due: none

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
