Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Import os_masakari to openstack-ansible
  gerrit/acls/openstack/openstack-ansible-os_masakari.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add os_masakari repo base jobs
  zuul.d/projects.yaml
Due: none

Add oslo.limit to zuul project list
  zuul.d/projects.yaml
Due: none

update the release tools to mark newton as closed
  roles/copy-release-tools-scripts/files/release-tools/process_release_requests.py
Due: openstack-tox-linters

Add some job templates to Qinling projects
  zuul.d/projects.yaml
Due: none

Trivial: Update pypi url to new url
  REVIEWING.rst
Due: none

Set min-ready for debian-jessie to 0
  nodepool/nl01.openstack.org.yaml
Due: none

Remove debian-jessie from bindep-fallback
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Switch zuul-jobs to debian-stable
  zuul.d/projects.yaml
Due: none

Remove debian-jessie from nodepool
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Import ansible-role-container-registry
  gerrit/acls/openstack/ansible-role-container-registry.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add/move Zuul repos to a zuul project group in SB
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Put the interop repo back in the interop SB group
  gerrit/projects.yaml
Due: project-config-check-main-yaml

remove pypy jobs from remaining oslo libraries
  zuul.d/projects.yaml
Due: none

convert doc jobs for oslo libraries to py3
  zuul.d/projects.yaml
Due: none

Import cookbook-openstack-dns to Chef OpenStack
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix graphite queries for neutron-lib periodic dashboard
  grafana/neutron-lib.yaml
Due: none

add publish-openstack-releasenotes-python3
  zuul.d/jobs.yaml
Due: none

Refactor publish-openstack-releasenotes
  zuul.d/jobs.yaml
Due: none

Fix ZUUL_USER_SSH_PUBLIC_KEY to support ssh key content
  nodepool/elements/zuul-worker/extra-data.d/60-zuul-user
Due: none

Add monasca-transform to Monasca ACL config
  gerrit/acls/openstack/monasca-transform.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove a migrated Sahara job (multinode-spark)
  zuul.d/projects.yaml
Due: none

Add Barbican to StoryBoard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Disable VEXXHOST in Nodepool
  nodepool/nl03.openstack.org.yaml
Due: none

Add Neutron Dynamic Routing charm and BGP interface
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Configure ansible-role-container-registry zuul jobs
  zuul.d/projects.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

ignore the series_status.yaml when processing release requests
  roles/copy-release-tools-scripts/files/release-tools/process_release_requests.py
Due: openstack-tox-linters

Gerritbot: Add stable branch notifications to manila
  gerritbot/channels.yaml
Due: none

add test jobs for openstack/git-nit repository
  zuul.d/projects.yaml
Due: none

import the git-nit repository
  gerrit/acls/openstack/git-nit.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Allows networking-onos-core group to create a new branch
  gerrit/acls/openstack/networking-onos.config
Due: none

Add horizon into required-projects for nodejs jobs for magnum-ui
  zuul.d/projects.yaml
Due: none

Build fedora-28 DIBs with nodepool-builder
  nodepool/nodepool.yaml
Due: none

Remove legacy-hacking-integration-nova
  zuul.d/projects.yaml
Due: none

Add new project pbrx
  gerrit/acls/openstack/pbrx.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add pbrx to zuul
  zuul.d/projects.yaml
Due: none

change irc bot branch reporting: remove s3api and add deep-review
  gerritbot/channels.yaml
Due: none

Set min-ready 1 for fedora-28
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
Due: none
