Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

project-config-check-main-yaml:
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

add test jobs to goal-tools repository
  zuul.d/projects.yaml
Due: none

create constellations repository
  gerrit/acls/openstack/constellations.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Adding networking-ansible to the project list
  gerrit/acls/openstack/networking-ansible.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Stop gating on tripleo-incubator
  zuul.d/projects.yaml
Due: none

Remove tripleo-incubator from infra systems
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Adding ansible-role-tripleo-keystone
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Ends project gating for Bandit
  zuul.d/projects.yaml
Due: none

Add promote pipeline
  zuul.d/pipelines.yaml
Due: none

add basic jobs for constellations repository
  zuul.d/projects.yaml
Due: none

publish constellations
  zuul.d/projects.yaml
Due: none

Add Heat to StoryBoard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add initial job to zuul for networking-ansible
  zuul.d/projects.yaml
Due: none

Remove Bandit from Infrastructure Systems
  gerrit/acls/openstack/bandit.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add py35 Jobs to Kingbird.
  zuul.d/projects.yaml
Due: none

Import os_blazar to openstack-ansible
  gerrit/acls/openstack/openstack-ansible-os_blazar.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add os_blazar repo base jobs
  zuul.d/projects.yaml
Due: none

Disable limestone
  nodepool/nl02.openstack.org.yaml
Due: none

Add system-required template for ansible-role-tripleo-keystone
  zuul.d/projects.yaml
Due: none

Enable python3 jobs in manila-ui
  zuul.d/projects.yaml
Due: none

remove "requirements" mode from propose_update.sh
  playbooks/proposal/propose_update.sh
Due: openstack-tox-linters

Add permission for adding tags for slogging
  gerrit/acls/openstack/slogging.config
Due: none

Add Apmec project to OpenStack (Part 1)
  gerrit/acls/openstack/apmec.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Adding jobs to ansible-networking
  zuul.d/projects.yaml
Due: none

Add new Glance Simplestreams Sync charm
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add LOCI to StoryBoard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add Apmec project to OpenStack (Part 2)
  zuul.d/projects.yaml
Due: none

Add new tempest jobs to gate graph in Neutron dashboard
  grafana/neutron.yaml
Due: none

Make oslo.service py35 job voting
  zuul.d/projects.yaml
Due: none

charms: Add the neutron dynamic routing projects
  zuul.d/projects.yaml
Due: none

New project: metalsmith - simple deployment tool for bare metal
  gerrit/acls/openstack/metalsmith.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add fullstack/functional-oxygen grafana stats to gate queue
  grafana/networking-odl.yaml
Due: none

Add sphinx-docs job to Monasca projects
  zuul.d/projects.yaml
Due: none

Remove legacy-tempest-dsvm-multinode-live-migration job usage
  zuul.d/projects.yaml
Due: none

diskimage-builder: move suse and gentoo jobs to experimental
  zuul.d/projects.yaml
Due: none

Remove jobs from ansible-role-nginx
  zuul.d/projects.yaml
Due: none

Revert "Disable limestone"
  nodepool/nl02.openstack.org.yaml
Due: none

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
