Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-ubuntu-xenial, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nameserver, opendev-buildset-registry, build-openstack-specs-site, project-config-grafana, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, infra-prod-service-zuul, infra-prod-run-accessbot, infra-prod-service-eavesdrop, infra-prod-service-grafana, zuul-migrate

test-release-openstack:
  nodeset: ubuntu-focal
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3

promote-openstack-releasenotes:
  parent: opendev-promote-docs-base
  description: 'Promote the results of build-openstack-releasenotes to
  
    /afs/.openstack.org/docs/releasenotes/{{ zuul.project.short_name }}
  
    '
  final: true
  vars:
    download_artifact_job: build-openstack-releasenotes
  secrets:
  - secret: afsdocs_secret-releasenotes
  ...

check-release-approval:
  description: 'Checks that release requests were approved by PTL or release liaison.
  
  
    This job is specific to the openstack/releases repository.
  
    '
  allowed-projects:
  - openstack/releases
  required-projects:
  - name: openstack/governance
  run: playbooks/check-release-approval/run.yaml
  final: true
  ...

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

system-config-build-image-gerrit-base:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-python-builder-3.11-bookworm
    soft: true

system-config-build-image-gerrit-3.10:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-gerrit-base
    soft: true

system-config-upload-image-gerrit-base:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-python-builder-3.11-bookworm
    soft: true

system-config-upload-image-gerrit-3.10:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-upload-image-gerrit-base
    soft: true

infra-prod-service-nameserver:
  dependencies: []

infra-prod-manage-projects:
  dependencies: []

infra-prod-service-nodepool:
  dependencies: []

infra-prod-service-zuul:
  dependencies:
  - name: infra-prod-manage-projects
    soft: true

infra-prod-run-accessbot:
  dependencies: []

infra-prod-service-eavesdrop:
  dependencies: []

infra-prod-service-grafana:
  dependencies: []

[Neutron] Update dashboard with latest job renames
  grafana/neutron-lib.yaml
  grafana/neutron.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, opendev-buildset-registry, project-config-grafana, infra-prod-service-grafana

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Revert "Use ubuntu-noble for test-release-openstack"
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Proxy Grafyaml requests to Graphite
  grafana/datasource.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, opendev-buildset-registry, project-config-grafana, infra-prod-service-grafana

Add zuul-providers project
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Add zuul-providers to opendev and zuul tenants
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul, infra-prod-service-eavesdrop

let core fix WIP state
  gerrit/acls/openstack/swift.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Temporarily remove zuul-providers from zuul tenant
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul

Revert "Temporarily remove zuul-providers from zuul tenant"
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul

Add separate ACL for openstackdocstheme
  gerrit/acls/openstack/openstackdocstheme.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Remove Freezer DR from infra
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-service-eavesdrop

Charms: add review priority to charms repos
  gerrit/acls/openstack/charm.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Update StarlingX docs promote job for R10 release
  zuul.d/starlingx-jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Neutron: add review priority to ovn-bgp-agent and ovsdbapp
  gerrit/acls/openstack/ovn-bgp-agent.config
  gerrit/acls/openstack/ovsdbapp.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Wind down/clean up Rackspace Flex SJC3 resources
  nodepool/nl01.opendev.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Revert "Wind down/clean up Rackspace Flex SJC3 resources"
  nodepool/nl01.opendev.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Add the DFW3 region for Rackspace Flex
  nodepool/nl01.opendev.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Use the new infra-prod locking and dependency setup
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

A comment tweak to trigger nl01 config deployment
  nodepool/nl01.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Boot nodes in Rackspace Flex SJC3 again
  nodepool/nl01.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Start booting nodes in Rackspace Flex DFW3
  nodepool/nl01.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Correct flavor name for Rackspace Flex DFW3
  nodepool/nl01.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Update jeepyb gerrit image build deps
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Add config for the new nb07 nodepool builder
  nodepool/nb07.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Cleanup nb04 builder config
  nodepool/nb04.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

End gating for openstack/openstack-helm-infra
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Replace 2025.1/Epoxy key with 2025.2/Flamingo
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Add config files for nl05, nl06, nl07 and nl08
  nodepool/nl05.opendev.org.yaml
  nodepool/nl06.opendev.org.yaml
  nodepool/nl07.opendev.org.yaml
  nodepool/nl08.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Cleanup configs for nl01, nl02, nl03, and nl04
  nodepool/nl01.opendev.org.yaml
  nodepool/nl02.opendev.org.yaml
  nodepool/nl03.opendev.org.yaml
  nodepool/nl04.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

gerritbot: Log changes to stable branches on #openstack-keystone
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-eavesdrop

Cap max-servers for rax clouds
  nodepool/nl05.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Restore max-servers in rax-ord and rax-iad
  nodepool/nl05.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Update SSL use in our IRC access check script
  tools/check_irc_access.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Restore max-servers in rax-dfw
  nodepool/nl05.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Add viommu support to vexxhost ubuntu-noble
  nodepool/nl07.opendev.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Temporarily remove release docs semaphores
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Revert "Temporarily remove release docs semaphores"
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Add IPSec Policy Operator App to StarlingX
  gerrit/acls/starlingx/app-ipsec-policy-operator.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Temporarily turn down raxflex-dfw3 use
  nodepool/nl05.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-3.10: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-3.10: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-3.10: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  opendev-buildset-registry: any of: ^grafana/.*$
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-grafana: any of: ^grafana/.*$
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  infra-prod-service-zuul: any of: zuul/main.yaml
  infra-prod-run-accessbot: any of: accessbot/channels.yaml
  infra-prod-service-eavesdrop: any of: gerritbot/channels.yaml
  infra-prod-service-grafana: any of: ^grafana/.*$
  zuul-migrate: any of: zuul/mapping.yaml
