Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Use kata-runsh out of OZJ
  playbooks/kata-run/pre.yaml
  playbooks/kata-run/run.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add openstack-service-broker project
  gerrit/acls/openstack/openstack-service-broker.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Bump vexxhost to 25 servers
  nodepool/nl03.openstack.org.yaml
Due: none

[translation] doc generatepot jobs for 3 projects
  gerrit/projects.yaml
  roles/prep-zanata/files/common_translation_update.sh
  roles/prep-zanata/files/upstream_translation_update.sh
  zuul.d/projects.yaml
Due: project-config-check-main-yaml, openstack-tox-linters

Fix ACLs for tripleo-ci and dib-utils
  gerrit/acls/openstack-infra/tripleo-ci.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove DragonFlow tagging ACL
  gerrit/acls/openstack/dragonflow.config
Due: none

Add py35 and readthedocs jobs
  zuul.d/projects.yaml
Due: none

add release-openstack-python3 job
  zuul.d/jobs.yaml
Due: none

switch release-test repo to use python3 pypi job
  zuul.d/projects.yaml
Due: none

enable storyboard for whereto
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add jobs for charm-glance-simplestreams-sync project
  zuul.d/projects.yaml
Due: none

Fix up AFS dashboard
  grafana/afs.yaml
Due: none

be more resilient in make_branch.sh for retired repositories
  roles/copy-release-tools-scripts/files/release-tools/make_branch.sh
Due: openstack-tox-linters

Add noop-jobs to decom loci-* repos
  zuul.d/projects.yaml
Due: none

Decom loci-* repos
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

fix release-openstack-python3 so it does what we mean
  playbooks/pti-python-tarball/post.yaml
  playbooks/pti-python-tarball/pre.yaml
  playbooks/pti-python-tarball/run.yaml
  zuul.d/jobs.yaml
Due: none

add a job to check the metadata for python packages
  playbooks/pti-python-tarball/check.yaml
  roles/check-python-release/README.rst
  roles/check-python-release/defaults/main.yaml
  roles/check-python-release/tasks/main.yaml
  zuul.d/jobs.yaml
Due: none

remove reno job settings
  zuul.d/projects.yaml
Due: none

remove release-test job settings
  zuul.d/projects.yaml
Due: none

Build wheels against constraints
  roles/build-wheels/files/wheel-build.sh
Due: openstack-tox-linters

Skip released that are close but not fully EOLd when building wheels
  roles/build-wheels/files/wheel-build.sh
Due: openstack-tox-linters

Add packethost us-west-1 to nodepool
  nodepool/nl02.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Remove direct tagging from swift-bench ACL
  gerrit/acls/openstack/swift-bench.config
Due: none

Remove direct branching rights for murano-apps
  gerrit/acls/openstack/murano-apps.config
Due: none

Remove Rally tagging ACL
  gerrit/acls/openstack/rally-openstack.config
  gerrit/acls/openstack/rally.config
Due: none

Switch flavor for Kata containers
  nodepool/nl03.openstack.org.yaml
Due: none

remove publish-openstack-python-tarball
  zuul.d/projects.yaml
Due: none

Update list of Monasca repos for GerritBot
  gerritbot/channels.yaml
Due: none

Remove direct tagging from heat-cfntools ACL
  gerrit/acls/openstack/heat-cfntools.config
Due: none

Add use-storyboard: True to Patrole
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Move openstack-python-jobs to os-api-ref repo
  zuul.d/projects.yaml
Due: none

Don't follow symlinks when setting log permissions
  roles/test-upload-logs/tasks/main.yaml
Due: none

Add xenial node for vexxhost kata testing
  nodepool/nl03.openstack.org.yaml
Due: none

Migrate the API-SIG to StoryBoard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

fix the check-python-release role
  roles/check-python-release/README.rst
  roles/check-python-release/defaults/main.yaml
  roles/check-python-release/tasks/main.yaml
Due: none

Use infra-root-keys-2018-06-15 in nodepool
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
Due: none

Add Zuul config for openstack-service-broker
  zuul.d/projects.yaml
Due: none

Fix tripleo-docs doc job
  zuul.d/projects.yaml
Due: none

Increase packethost max-servers to 10
  nodepool/nl02.openstack.org.yaml
Due: none
