Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Remove legacy jobs for glance_store
  zuul.d/projects.yaml
Due: none

Add SQL reporter to Zuul experiemental and tripleo pipelines
  zuul.d/pipelines.yaml
Due: none

Add docs, api-ref and releasenotes jobs for masakari
  zuul.d/projects.yaml
Due: none

Remove trove experimental jobs
  zuul.d/projects.yaml
Due: none

Rename legacy-tempest-dsvm-neutron-linuxbridge
  zuul.d/projects.yaml
Due: none

Add Neutron Tempest Plugin Failure Rate dashboard
  grafana/neutron-tempest-plugin.yaml
Due: none

Rename trove grenade job
  zuul.d/projects.yaml
Due: none

Retire craton (1/2)
  zuul.d/projects.yaml
Due: none

Retire craton (2/2)
  accessbot/channels.yaml
  gerrit/acls/openstack/craton-dashboard.config
  gerrit/acls/openstack/craton.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add ansible-role-k8s-cinder
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

set up governance repo for storyboard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Migrate nodepool.yaml to new syntax
  nodepool/nodepool.yaml
  test-requirements.txt
Due: openstack-tox-linters

turn off python 3.5 jobs for goal-tools repo
  zuul.d/projects.yaml
Due: none

Minimize nodepool-builder configuration
  nodepool/nodepool.yaml
Due: none

Switch to tempest-plugin-jobs for ec2api-tempest-plugin
  zuul.d/projects.yaml
Due: none

Remove diskimages section from nodepool-launchers
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  tox.ini
Due: openstack-tox-linters

Remove feature/zuulv3 branch references
  gerritbot/channels.yaml
  tox.ini
Due: openstack-tox-linters

Only run one requirements propose post job at a time
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Revert "Remove diskimages section from nodepool-launchers"
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  tox.ini
Due: openstack-tox-linters

Build and publish releasenotes for openstacksdk
  zuul.d/projects.yaml
Due: none

Partial revert "Revert "Remove diskimages section from nodepool-launchers""
  test-requirements.txt
  tox.ini
Due: openstack-tox-linters

Disable Cerberus/Sticks jobs for retirement
  zuul.d/projects.yaml
Due: none

Cerberus/Sticks retirement
  accessbot/channels.yaml
  gerrit/acls/openstack/cerberus.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Update jobs for ansible-role-cloud-launcher
  zuul.d/projects.yaml
Due: none

add required projects for vmware-nsx periodic with neutron-lib
  zuul.d/projects.yaml
Due: none

Run shade functional tests on ansible OpenStack PRs
  zuul.d/projects.yaml
Due: none

Add networking-generic-switch-tempest-plugin repo
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add system-required for openstack/self-healing-sig
  zuul.d/projects.yaml
Due: none

Remove legacy mistralclient jobs
  zuul.d/projects.yaml
Due: none

Minimal nodepool-launcher config take 2
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
Due: none

Create config for nl03.o.o
  nodepool/nl01.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
Due: none

Clean up nl01.o.o configuration
  nodepool/nl01.openstack.org.yaml
Due: none

Test all nodepool files
  tools/nodepool-validate.sh
  tox.ini
Due: openstack-tox-linters

Create nl04.o.o configuration
  nodepool/nl02.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
Due: none

Remove OVH from nl02.o.o
  nodepool/nl02.openstack.org.yaml
Due: none

Use tempest-plugin-jobs project template for all tempest plugins
  zuul.d/projects.yaml
Due: none

add system-req template and jobs for charm-panko
  zuul.d/projects.yaml
Due: none

Move legacy-cross-midonet in-tree
  zuul.d/projects.yaml
Due: none

Remove elastic-requeck tox-queries job
  zuul.d/projects.yaml
Due: none

Remove requests-mock legacy jobs
  zuul.d/projects.yaml
Due: none
