Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Add release note and doc jobs to Cyborg
  zuul.d/projects.yaml
Due: none

Remove tagging for Cyborg
  gerrit/acls/openstack/cyborg.config
Due: none

Don't skip branching for projects with no releases
  jenkins/scripts/release-tools/process_release_requests.py
Due: openstack-tox-linters

Add stable/queens branch for Packstack gerritbot notifications
  gerritbot/channels.yaml
Due: none

Add tripleo-ci group to all other TripleO projects
  gerrit/acls/openstack/instack.config
  gerrit/acls/openstack/puppet-tripleo.config
  gerrit/acls/openstack/tripleo-quickstart.config
  gerrit/acls/openstack/tripleo-ui.config
  gerrit/acls/openstack/tripleo-upgrade.config
  gerrit/acls/openstack/tripleo.config
Due: none

Add platform build jobs to nodepool experimental
  zuul.d/projects.yaml
Due: none

Grafana: switch zuul executor ram metric
  grafana/zuul-status.yaml
Due: none

Remove the non-voting option of openstack-python35-jobs for blazar repos
  zuul.d/projects.yaml
Due: none

Consolidate common.sh script copying
  playbooks/proposal/pre.yaml
  playbooks/translation/pre.yaml
  roles/copy-proposal-common-scripts/README.rst
  roles/copy-proposal-common-scripts/files/common.sh
  roles/copy-proposal-common-scripts/tasks/main.yaml
  roles/prep-zanata/files/common.sh
  roles/prep-zanata/tasks/main.yaml
Due: openstack-tox-linters

Install proposal scripts only when needed
  playbooks/proposal/generate_puppetfile.sh
  playbooks/proposal/pre.yaml
  playbooks/proposal/propose_update.sh
  playbooks/proposal/sync_openstack_ansible_common_files.sh
Due: openstack-tox-linters

Add Queens gerritbot tracking for OSA chan
  gerritbot/channels.yaml
Due: none

Add Queens gerritbot tracking for #openstack-dns
  gerritbot/channels.yaml
Due: none

Add abstract attribute to base jobs
  zuul.d/jobs.yaml
Due: none

Setup queens translation sync for heat-dashboard
  zuul.d/projects.yaml
Due: none

gerrit tests should return to checked out branch
  tools/check_gerrit_projects_changed.sh
Due: openstack-tox-linters

Add new project for Tatu (SSH as a Service) Horizon Plugin.
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Zuul templates for new project tatu-dashboard.
  zuul.d/projects.yaml
Due: none

Set post-timeout value to half an hour on base jobs
  zuul.d/jobs.yaml
Due: none

Remove version-from-git from javascript publishing playbook
  playbooks/javascript/publish.yaml
Due: none

Use host_vars for wheel builds
  playbooks/wheel/post-base.yaml
  roles/build-wheels/tasks/main.yaml
  zuul.d/jobs.yaml
Due: none

Rework base-publish-static jobs using protected
  playbooks/publish/static-special.yaml
  playbooks/publish/static.yaml
  zuul.d/jobs.yaml
Due: none

Sync sphinx post jobs
  playbooks/sphinx/post-infra.yaml
  playbooks/sphinx/post.yaml
Due: none

Refactor playbooks/publish/openstack-afs.yaml
  playbooks/publish/openstack-afs.yaml
Due: none

Use playbooks/publish/openstack-afs everywhere
  playbooks/publish/contributor-guide-afs.yaml
  playbooks/publish/deploy-guide.yaml
  playbooks/publish/infra-afs.yaml
  playbooks/publish/infra-index.yaml
  playbooks/publish/infra-manual.yaml
  playbooks/publish/manuals.yaml
  playbooks/publish/placement-api-ref.yaml
  playbooks/publish/publications-index.yaml
  playbooks/publish/publications.yaml
  playbooks/publish/releasenotes.yaml
  zuul.d/jobs.yaml
Due: none

Refactor sphinx publish jobs
  zuul.d/jobs.yaml
Due: none

Fix CentOS wheel mirror builds
  zuul.d/jobs.yaml
Due: none

Remove nodejs-npm-run-lint pipeline stanza from storyboard-webclient
  zuul.d/projects.yaml
Due: none

[magnum] Add irc notifications for queens
  gerritbot/channels.yaml
Due: none

Set sphinx-feature-classification own core group
  gerrit/acls/openstack/sphinx-feature-classification.config
Due: none

[rally] Add a separate repository for OpenStack plugins
  gerrit/acls/openstack/rally-openstack.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

[rally] Configure CI for a new repo
  zuul.d/projects.yaml
Due: none

Fix training-labs publishing
  playbooks/training-labs/post.yaml
  zuul.d/jobs.yaml
Due: none

Don't run legacy-tempest-dsvm-neutron-full for nova on queens+
  zuul.d/projects.yaml
Due: none

gerritbot: Use new regex feature for ironic stable branches
  gerritbot/channels.yaml
Due: none

Add puppet-release-jobs to puppet-monasca
  zuul.d/projects.yaml
Due: none

Add nb03.openstack.org config
  nodepool/nb03.openstack.org.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add nspawn_.* roles to openstack-ansible
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix typo in training-labs post.yaml
  playbooks/training-labs/post.yaml
Due: none

New required-projects for Iotronic-ui.
  zuul.d/projects.yaml
Due: none
