Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

project-config-check-main-yaml:
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

Switch horizon projects to publish-to-pypi-horizon
  zuul.d/projects.yaml
Due: none

Add publish-to-pypi job to zun-tempest-plugin
  zuul.d/projects.yaml
Due: none

Use new periodic tox with-master jobs
  zuul.d/projects.yaml
Due: none

Remove unused jenkins/scripts/run-tox-* scripts
  jenkins/scripts/run-tox-api-ref.sh
  jenkins/scripts/run-tox-with-dependency-master.sh
  jenkins/scripts/run-tox-with-neutron-lib-master.sh
  jenkins/scripts/run-tox-with-oslo-master.sh
Due: openstack-tox-linters

Remove unused xstatic_check_version.py
  jenkins/scripts/xstatic_check_version.py
Due: openstack-tox-linters

Expose serial keyword to base-test playbook
  playbooks/base-test/post-ssh.yaml
  playbooks/base-test/pre.yaml
  zuul.d/jobs.yaml
Due: none

Update Zun's project definition
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove jobs from project-config-example
  zuul.d/projects.yaml
Due: none

Add new zuul executor metrics
  grafana/zuul-status.yaml
Due: none

Remove kolla-kubernetes legacy jobs
  zuul.d/projects.yaml
Due: none

Migrate to Storyboard for Qinling related projects
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove legacy-devstack-dsvm-py35-updown from devstack
  zuul.d/projects.yaml
Due: none

Add api-ref-jobs to blazar jobs
  zuul.d/projects.yaml
Due: none

Fix openstack-tox-py35-with-ovsdbapp-master for networking-ovn
  zuul.d/projects.yaml
Due: none

Replace legacy ansible-role func jobs
  zuul.d/projects.yaml
Due: none

tempestconf is not in requirements, remove the check job
  zuul.d/projects.yaml
Due: none

Resync base-test to base
  playbooks/base-test/post-logs.yaml
  playbooks/base-test/post-ssh.yaml
  playbooks/base-test/pre.yaml
Due: none

base-test: test new mirror-workspace role
  playbooks/base-test/pre.yaml
Due: none

Revert "base-test: test new mirror-workspace role"
  playbooks/base-test/pre.yaml
Due: none

Remove legacy infra-ansible jobs
  zuul.d/projects.yaml
Due: none

gerritbot: Add queens and rocky to ironic IRC notifications
  gerritbot/channels.yaml
Due: none

Remove jenkins-sudo
  nodepool/elements/nodepool-base/install.d/59-sudoers
Due: none

Remove zuul-sudo-grep lines from nodepool
  nodepool/elements/zuul-worker/install.d/60-zuul-worker
Due: none

Third stage of removing trove-integration
  gerrit/acls/openstack/trove-integration.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove windmill-buildimages
  zuul.d/projects.yaml
Due: none

add git timeout setting for clone_repo.sh
  jenkins/scripts/release-tools/clone_repo.sh
Due: openstack-tox-linters

add a retry loop to clone_repo.sh
  jenkins/scripts/release-tools/clone_repo.sh
Due: openstack-tox-linters

Added NodeJS v6 jobs to check pipeline
  zuul.d/projects.yaml
Due: none

zuul.d: gerritbot: Remove check and gate jobs as now in repo
  zuul.d/projects.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove TripleO pipelines from grafana
  grafana/zuul-status.yaml
Due: none

Disable citycloud in nodepool
  nodepool/nl02.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Add description to update_upper_constraints patches
  jenkins/scripts/release-tools/functions
Due: none

Remove unused grafana/nodepool files
  grafana/nodepool-datacentred.yaml
  grafana/nodepool-entercloud.yaml
Due: none

Remove legacy-tempest-dsvm-neutron-nova-next-full usage
  zuul.d/projects.yaml
Due: none

Remove jenkins/scripts/run-tox.sh
  jenkins/scripts/run-tox.sh
Due: openstack-tox-linters

Remove zuul-sudo-grep.sh
  jenkins/scripts/zuul-sudo-grep.sh
Due: openstack-tox-linters

Change directories to os-service-types during update
  jenkins/scripts/propose_update.sh
Due: openstack-tox-linters

Remove install-distro-packages.sh from images
  jenkins/scripts/install-distro-packages.sh
Due: openstack-tox-linters

Zuul system-required template for new project Tatu.
  zuul.d/projects.yaml
Due: none

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
