Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Complete retirement of horizon-cisco-ui
  gerrit/acls/openstack/horizon-cisco-ui.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Move translation scripts out of jenkins/scripts
  roles/prep-zanata/files/ZanataUtils.py
  roles/prep-zanata/files/common.sh
  roles/prep-zanata/files/common_translation_update.sh
  roles/prep-zanata/files/create-zanata-xml.py
  roles/prep-zanata/files/get-modulename.py
  roles/prep-zanata/files/propose_translation_update.sh
  roles/prep-zanata/files/query-zanata-project-version.py
  roles/prep-zanata/files/upstream_translation_update.sh
  roles/prep-zanata/tasks/main.yaml
Due: openstack-tox-linters

rm unused jenkins/scripts/*
  jenkins/scripts/jenkins-oom-grep.sh
  jenkins/scripts/pypi-extract-name.py
  jenkins/scripts/pypi-extract-universal.py
  jenkins/scripts/reprepro-gpg-sign.sh
Due: openstack-tox-linters

remove storelets-release permissions to create tags
  gerrit/acls/openstack/storlets.config
Due: none

Remove nodepool docs jobs from project-config
  zuul.d/projects.yaml
Due: none

Remove tox-cover from nodepool
  zuul.d/projects.yaml
Due: none

Notify zun channel with stable/queens patches
  gerritbot/channels.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add the vault charm as a new project
  zuul.d/projects.yaml
Due: none

Remove unused rally job from heat
  zuul.d/projects.yaml
Due: none

Add vault charm to gerrit
  gerrit/acls/openstack/charm-vault.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add doc job for qinling
  zuul.d/projects.yaml
Due: none

Fix translation scripts
  roles/prep-zanata/tasks/main.yaml
Due: none

Add release-note-job to storlets project
  zuul.d/projects.yaml
Due: none

Remove some moved slave scripts
  jenkins/scripts/jenkinsci-upload.sh
  jenkins/scripts/package-gerrit.sh
  jenkins/scripts/php-laravel-build.sh
  jenkins/scripts/run-jsbuild.sh
  jenkins/scripts/version-properties.sh
Due: openstack-tox-linters

Switch magnum to release-openstack-server
  zuul.d/projects.yaml
Due: none

Setup translation jobs for Queens
  zuul.d/projects.yaml
Due: none

tacker-horizon seems to need the horizon-specific release jobs
  zuul.d/projects.yaml
Due: none

Add create ACL for almanach
  gerrit/acls/openstack/almanach.config
Due: none

Remove intree jobs for openstack/windmill
  zuul.d/projects.yaml
Due: none

Setup translation jobs for Queens (no priority)
  zuul.d/projects.yaml
Due: none

add publish-to-pypi for cyborg
  gerritbot/channels.yaml
  zuul.d/projects.yaml
Due: none

Setup translation jobs for Queens (latecomer)
  zuul.d/projects.yaml
Due: none

Install yarn in javascript pre-run playbook
  playbooks/javascript/pre.yaml
Due: none

Only run openstack tox jobs on ara master branch
  zuul.d/projects.yaml
Due: none

Enable StoryBoard Use for Election Repo
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Update nova's gerritbot config
  gerritbot/channels.yaml
Due: none

Remove legacy-devstack-unit-tests job
  zuul.d/projects.yaml
Due: none

Use correct requirements branch for tags
  playbooks/python-tarball/pre.yaml
Due: none

Add a playbook for publishing javascript tarballs
  playbooks/javascript/publish.yaml
Due: none

Document 'post' job names
  zuul.d/pipelines.yaml
Due: none

Create tripleo-ci group in Gerrit
  gerrit/acls/openstack-infra/tripleo-ci.config
Due: none

Fix parsing error due to quote in comment
  playbooks/python-tarball/pre.yaml
Due: none

Remove Neutron periodic jobs
  zuul.d/projects.yaml
Due: none

Fix closing if block
  playbooks/python-tarball/pre.yaml
Due: none

Have nl01.o.o manage min-ready of labels
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
Due: none

Move wheel-build scripts out of jenkins/scripts
  playbooks/wheel/pre.yaml
  roles/build-wheels/files/wheel-build.sh
  roles/build-wheels/tasks/main.yaml
  roles/copy-wheels/files/wheel-copy.sh
  roles/copy-wheels/files/wheel-index.sh
  roles/copy-wheels/tasks/main.yaml
Due: openstack-tox-linters

Move to native nodepool boot jobs
  zuul.d/projects.yaml
Due: none

Add publish-openstack-sphinx-docs to blazar-dashboard jobs
  zuul.d/projects.yaml
Due: none
