Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-15, project-config-bindep-fallback-ubuntu-xenial, openstacksdk-ansible-stable-2.6-functional-devstack, shade-ansible-stable-2.5-functional-devstack, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nameserver, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, infra-prod-service-zuul, infra-prod-run-accessbot, infra-prod-service-eavesdrop, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-15: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstacksdk-ansible-stable-2.6-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack_inventory.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  shade-ansible-stable-2.5-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-3.2: any of: ^.*$
  system-config-build-image-gerrit-master: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-3.2: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-3.2: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  infra-prod-service-zuul: any of: zuul/main.yaml
  infra-prod-run-accessbot: any of: accessbot/channels.yaml
  infra-prod-service-eavesdrop: any of: gerritbot/channels.yaml
  infra-prod-service-grafana: any of: grafana/
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-full-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-ovs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-puppet-midonet-puppet-unit-4.5-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-midonet-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  zuul-migrate: any of: zuul/mapping.yaml

Finalize ELK puppetry retirement
  gerrit/acls/opendev/puppet-elasticsearch.config
  gerrit/acls/opendev/puppet-kibana.config
  gerrit/acls/opendev/puppet-log_processor.config
  gerrit/acls/opendev/puppet-logstash.config
  gerrit/acls/opendev/puppet-subunit2sql.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-service-eavesdrop, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Start launching Jammy images
  grafana/create-nodepool-dib.sh
  grafana/nodepool-dib.yaml
  nodepool/nl01.opendev.org.yaml
  nodepool/nl02.opendev.org.yaml
  nodepool/nl03.opendev.org.yaml
  nodepool/nl04.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

End project gating for openstack-helm-docs
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire openstack-helm-docs repo, step 3.3
  gerrit/acls/openstack/openstack-helm-docs.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Temporarly disable linaro-us
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Use https with apt in our ubuntu image builds
  nodepool/nb03.opendev.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Jammy arm64 images
  nodepool/nb03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Jammy arm64 test nodes
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

elastic-recheck: allow releasers to merge/delete
  gerrit/acls/opendev/elastic-recheck.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Always include phased updates for Jammy
  nodepool/elements/nodepool-base/root.d/60-apt-phased-updates
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix apt-phased-updates
  nodepool/elements/nodepool-base/root.d/60-apt-phased-updates
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add opendev/infra-openafs-deb
  gerrit/acls/opendev/infra-openafs-deb.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-service-eavesdrop, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add SRIOV FEC Operator app to StarlingX
  gerrit/acls/starlingx/app-sriov-fec-operator.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

opendev/infra-openafs-deb : add promote job
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

infra-openafs-deb: run jobs on !master branch
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

infra-openafs-deb: run noop on master branch
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Temporarly disable linaro-us"
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix config error for nl03
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add opendev/infra-vhd-util-deb repository
  gerrit/acls/opendev/infra-vhd-util-deb.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-service-eavesdrop, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

infra-vhd-util-deb : add jobs
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Stop e-r gerrit alerts in #opendev
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-eavesdrop, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Set context for unbound.log on selinux systems
  nodepool/elements/nodepool-base/finalise.d/89-boot-settings
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix selinux context for unbound.log
  nodepool/elements/nodepool-base/finalise.d/89-boot-settings
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove lower-constraints and tox-py36 from Neutron Grafana
  grafana/neutron-dynamic-routing.yaml
  grafana/neutron-lib.yaml
  grafana/neutron-stable-minusone.yaml
  grafana/neutron-stable-minustwo.yaml
  grafana/neutron.yaml
  grafana/octavia.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool: set spec_store_bypass_disable=prctl for Jammy images
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add neutron-vpnaas-stable-maint group
  gerrit/acls/openstack/neutron-vpnaas.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Run propose-updates on requirements with focal
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Build and publish wheel mirror for Ubuntu Jammy
  playbooks/wheel/release.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Migrate neutron-lib-master testing to py39
  grafana/neutron-dynamic-routing.yaml
  grafana/neutron-lib.yaml
  grafana/neutron.yaml
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Don't use https in Ubuntu bionic and focal builds
  nodepool/nb03.opendev.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix python list for requirements propose-updates job
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Set "zuul" tenant default Ansible version to 5
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add missing volumes to Grafana AFS page
  grafana/afs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Install setfacl on test nodes
  nodepool/elements/infra-package-needs/package-installs.yaml
  nodepool/elements/infra-package-needs/pkg-map
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add ops to openstack-ansible-sig channel
  accessbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-run-accessbot, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add a repository for the Large Scale SIG
  gerrit/acls/openstack/large-scale.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-service-eavesdrop, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix propose-updates job for requirements (3rd attempt)
  playbooks/proposal/pre.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

The default ansible version in zuul config is a str not int
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src
