Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, project-config-frozen-files, openstack-tox-linters, zuul-migrate

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-frozen-files: any of: zuul/layout.yaml, ^jenkins/jobs/.*
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Add new project networking-spp
  gerrit/acls/openstack/networking-spp.config
  gerrit/projects.yaml
  zuul/layout.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, project-config-frozen-files

Add ansible-role-k8s-cookiecutter
  gerrit/projects.yaml
  zuul/layout.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, project-config-frozen-files

Networking-ovn: Use publish-openstack-sphinx-docs-neutron
  zuul.d/projects.yaml
Due: none

Change manila tempest plugin jobs
  zuul.d/projects.yaml
Due: none

Add neutron to required projects for net-cisco custom jobs
  zuul.d/projects.yaml
Due: none

Remove .yaml from upstream-translation-update post-run
  zuul.d/jobs.yaml
Due: none

add bindep step to release jobs
  playbooks/release/pre.yaml
Due: none

networking-odl: Removing legacy jobs references
  zuul.d/projects.yaml
Due: none

Fix type with java_cert in prep-zanata
  roles/prep-zanata/tasks/main.yaml
  zuul.d/secrets.yaml
Due: none

Remove all OSA functional tests
  zuul.d/projects.yaml
Due: none

Swich load ordering for openstack-ansible-tests repo
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix octavia-dashboard py27/35 jobs
  zuul.d/projects.yaml
Due: none

Fix Octavia jobs to be voting again
  zuul.d/projects.yaml
Due: none

Switch neutron-classifier to openstack-python-jobs-neutron
  zuul.d/projects.yaml
Due: none

Skip openstack-tox-py35 jobs on release deliverables
  zuul.d/projects.yaml
Due: none

Fix REFNAME in propose_update.sh
  jenkins/scripts/propose_update.sh
  playbooks/proposal/propose-updates.yaml
Due: openstack-tox-linters

Remove dragonflow jobs that were moved to the project itself
  zuul.d/projects.yaml
Due: none

Fix deploy-guide publish
  playbooks/publish/deploy-guide.yaml
Due: none

remove legacy-grenade-dsvm-ceilometer
  zuul.d/projects.yaml
Due: none

Restore cover test to oslo.messaging
  zuul.d/projects.yaml
Due: none

Add linters job to all OSA role jobs
  zuul.d/projects.yaml
Due: none

import the clone_repo.sh script from the releases repo
  jenkins/scripts/release-tools/clone_repo.sh
  jenkins/scripts/release-tools/functions
Due: openstack-tox-linters

Remove repository url from pypi secret
  zuul.d/secrets.yaml
Due: none

remove redundant git operation
  jenkins/scripts/release-tools/clone_repo.sh
Due: openstack-tox-linters

Remove legacy jobs from python-openstackclient
  zuul.d/projects.yaml
Due: none

Remove legacy template jobs from ansible-role-nodepool
  zuul.d/projects.yaml
Due: none

Add pike branch to zun channel notification
  gerritbot/channels.yaml
Due: none

Fix ZUUL_REFNAME for translation jobs
  jenkins/scripts/upstream_translation_update.sh
  playbooks/translation/upstream-translation-update.yaml
Due: openstack-tox-linters

Fix zanata cert import
  roles/prep-zanata/tasks/main.yaml
Due: none

Publish keystone loci images to DockerHub
  zuul.d/projects.yaml
Due: none

networking-midonet: required-projects for periodic jobs
  zuul.d/projects.yaml
Due: none

add system-required and check-requirements job for senlin-tempest-plugin
  zuul.d/projects.yaml
Due: none

Remove legacy jobs in Senlin
  zuul.d/projects.yaml
Due: none

Setup nodes for upstream-translation job
  jenkins/scripts/common_translation_update.sh
  jenkins/scripts/upstream_translation_update.sh
Due: openstack-tox-linters

fix branch handling in release clone_repo function
  jenkins/scripts/release-tools/functions
Due: none

Use master for publishing releasenotes
  zuul.d/jobs.yaml
Due: none

have release functions script source its own requirements
  jenkins/scripts/release-tools/functions
  jenkins/scripts/release-tools/release.sh
  jenkins/scripts/release-tools/update_constraints.sh
  playbooks/release/tag.yaml
Due: openstack-tox-linters

Remove manila legacy jobs
  zuul.d/projects.yaml
Due: none

Fix typo in remove-launchpad-credentials role
  playbooks/release/post.yaml
Due: none

Remove py35 based template from nodepool
  zuul.d/projects.yaml
Due: none
