Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

a control plane capacity upgrade is planned for later this week
  nodepool/nl02.openstack.org.yaml
Due: none

Add coats project to openstack-infra
  accessbot/channels.yaml
  gerrit/acls/openstack/coats.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Set up stx-docs and stx-specs publish jobs
  playbooks/publish/starlingx-afs.yaml
  zuul.d/starlingx-jobs.yaml
Due: none

Add tempest-slow to Neutron failure rate dashboard
  grafana/neutron.yaml
Due: none

Create stx-governance repository
  gerrit/acls/openstack/stx-governance.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

remove job settings for heat repositories
  zuul.d/projects.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Update release jobs for driverlog and tempest
  zuul.d/projects.yaml
Due: none

remove job settings for monasca repositories
  zuul.d/projects.yaml
Due: none

Move docs/cover job for monasca-{transform,ui} in-repo
  zuul.d/projects.yaml
Due: none

Remove noop jobs for ara-{plugins,clients,server},os-log-merger
  zuul.d/projects.yaml
Due: none

Align neutron grafana with actual jobs being run
  grafana/neutron.yaml
Due: none

remove job settings for openstack/monasca-analytics repo
  zuul.d/projects.yaml
Due: none

Add release-zuul-python job that deals with javascript
  playbooks/zuul-tarball/post.yaml
  playbooks/zuul-tarball/pre.yaml
  playbooks/zuul-tarball/run.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Remove sphinx publishing from openstack-ansible-os_monasca
  zuul.d/projects.yaml
Due: none

Add GPU instances to CI infrastructure
  nodepool/nl03.openstack.org.yaml
Due: none

Remove docs from os_monasca-agent
  zuul.d/projects.yaml
Due: none

Disable vexxhost mtl1
  nodepool/nl03.openstack.org.yaml
Due: none

always build universal wheels
  zuul.d/jobs.yaml
Due: none

remove job settings for OpenStackAnsible repositories
  zuul.d/projects.yaml
Due: none

remove job settings for OpenStack Charms repositories
  zuul.d/projects.yaml
Due: none

Add publish jobs for stx-governance and per-project
  zuul.d/starlingx-jobs.yaml
Due: none

Update stackviz tarball location
  nodepool/elements/cache-devstack/source-repository-stackviz
Due: none

upgrade complete
  nodepool/nl02.openstack.org.yaml
Due: none

Use prepare-zanata-client role
  playbooks/translation/propose-translation-update.yaml
  playbooks/translation/upstream-translation-update.yaml
  roles/prep-zanata/README.rst
  roles/prep-zanata/defaults/main.yaml
  roles/prep-zanata/files/ZanataUtils.py
  roles/prep-zanata/files/common_translation_update.sh
  roles/prep-zanata/files/create-zanata-xml.py
  roles/prep-zanata/files/get-modulename.py
  roles/prep-zanata/files/propose_translation_update.sh
  roles/prep-zanata/files/query-zanata-project-version.py
  roles/prep-zanata/files/upstream_translation_update.sh
  roles/prep-zanata/tasks/main.yaml
  roles/prep-zanata/templates/zanata.ini
Due: openstack-tox-linters

remove job settings for trove repositories
  zuul.d/projects.yaml
Due: none

enable sqlite in python
  nodepool/elements/infra-package-needs/pre-install.d/00-gentoo-useflags
Due: none

Move Stackalytics jobs to project repository
  zuul.d/projects.yaml
Due: none

Move performa jobs to project repository
  zuul.d/projects.yaml
Due: none

Test workspace setup role changes
  playbooks/base-test/pre.yaml
Due: none

Add publish jobs for StarlingX api-ref and releasenotes
  zuul.d/starlingx-jobs.yaml
Due: none

set use flags for systemd
  nodepool/elements/infra-package-needs/pre-install.d/00-gentoo-useflags
Due: none

fix rsyslog builds on gentoo
  nodepool/elements/infra-package-needs/pre-install.d/00-gentoo-useflags
Due: none

Add os_manila role to openstack-ansible
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Create storyboard project for python-freezerclient
  gerrit/projects.yaml
Due: project-config-check-main-yaml

remove job settings for barbican repositories
  zuul.d/projects.yaml
Due: none

Add cells charm and interfaces
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add Openstack Flare project
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add openstack/flare project.
  gerrit/acls/openstack/flare.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Convert some more repos to publish-to-pypi-python3
  zuul.d/projects.yaml
Due: none
