Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Fix debian-stretch-arm64 on nl03.o.o
  nodepool/nl03.openstack.org.yaml
Due: none

Limit openstack-tox-cover job to master branch
  zuul.d/projects.yaml
Due: none

Create ansible-role-carbon repository
  gerrit/acls/openstack/ansible-role-carbon.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add ansible-role-carbon zuul jobs
  zuul.d/projects.yaml
Due: none

Create ansible-role-whisper repository
  gerrit/acls/openstack/ansible-role-whisper.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add ansible-role-whisper zuul jobs
  zuul.d/projects.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Get rid of Jenkins slave scripts
  nodepool/elements/jenkins-slave/extra-data.d/20-jenkins-user
  nodepool/elements/jenkins-slave/install.d/20-jenkins-slave
Due: none

Enable voting Python 3 unit tests for monasca-ui
  zuul.d/projects.yaml
Due: none

Create tripleo-ha-utils project (gerrit)
  gerrit/acls/openstack/tripleo-ha-utils.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

python-jenkins: make pypy gate optional check
  zuul.d/projects.yaml
Due: none

Adds OpenStackClient to StoryBoard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add OpenStack SDK to StoryBoard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

build opensuse images from the openstack mirror
  nodepool/nodepool.yaml
Due: none

gerritbot: Announce stable branch changes of openstack/requirements
  gerritbot/channels.yaml
Due: none

Pause ubuntu-xenial DIBs
  nodepool/nodepool.yaml
Due: none

Create tripleo-ha-utils project (zuul)
  zuul.d/projects.yaml
Due: none

Move p-osc into the osc project group on SB
  gerrit/projects.yaml
Due: project-config-check-main-yaml

unpause Gentoo
  nodepool/nodepool.yaml
Due: none

Updates jobs running on the election repo
  zuul.d/projects.yaml
Due: none

Revert "unpause Gentoo"
  nodepool/nodepool.yaml
Due: none

Remove apply of iptables rules for gentoo
  nodepool/elements/nodepool-base/install.d/20-iptables
Due: none

include cache-devstack only if not gentoo
  tools/build-image.sh
Due: openstack-tox-linters

Remove legacy job: legacy-install-dsvm-dragonflow-kuryr-kubernetes
  zuul.d/projects.yaml
Due: none

Add zuul-website-media project (1/2)
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add zuul-website-media project (2/2)
  zuul.d/projects.yaml
Due: none

Rename API WG -> SIG on specs.openstack.org and in projects.yaml
  gerrit/projects.yaml
  specs/specs.yaml
Due: project-config-check-main-yaml

add docs-on-readthedocs to virtualpdu
  zuul.d/projects.yaml
Due: none

Allow zuul-website-media to publish to the zuul website
  zuul.d/zuul-jobs.yaml
Due: none

networking-bgpvpn: remove networking-odl from required-projects
  zuul.d/projects.yaml
Due: none

Stop using -python35-jobs-horizon for trove-dashboard
  zuul.d/projects.yaml
Due: none

Pause arm64 builds
  nodepool/nb03.openstack.org.yaml
Due: none

Add libre2 for project-config linting
  bindep.txt
Due: openstack-tox-linters

Change label for neutron-tempest-ovsfw to "voting"
  grafana/neutron.yaml
Due: none

Use https for stackviz get
  nodepool/elements/cache-devstack/source-repository-stackviz
Due: none

Unpause arm64 builds
  nodepool/nb03.openstack.org.yaml
Due: none

Unpause Xenial builds
  nodepool/nodepool.yaml
Due: none

[rally] Remove old rally-cinder jobs
  zuul.d/projects.yaml
Due: none
