Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

project-config-check-main-yaml:
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

Add arm64 nodes to launcher
  nodepool/nl01.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
Due: none

Switch astara release jobs to not use pypi
  zuul.d/projects.yaml
Due: none

Fix ubuntu-xenial-arm64 label
  nodepool/nl03.openstack.org.yaml
Due: none

Add arm64 min-ready to nl03
  nodepool/nl01.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add python35 jobs to osc-placement
  zuul.d/projects.yaml
Due: none

Remove tools/zuul.conf-sample
  tools/zuul.conf-sample
Due: none

Add publish-to-pypi job for monasca-tempest-plugin
  zuul.d/projects.yaml
Due: none

Increase openstack-manuals publish timeout
  zuul.d/jobs.yaml
Due: none

have tag-releases skip closed series
  jenkins/scripts/release-tools/process_release_requests.py
Due: openstack-tox-linters

Add coverage job for qinling and python-qinlingclient
  zuul.d/projects.yaml
Due: none

Remove legacy-osc-placement-dsvm-functional usage
  zuul.d/projects.yaml
Due: none

Tear down translation sync jobs for Ocata
  zuul.d/projects.yaml
Due: none

Fix Python 3 gate jobs for Blazar projects
  zuul.d/projects.yaml
Due: none

Remove legacy-neutron-dsvm-api job from devstack-gate
  zuul.d/projects.yaml
Due: none

Make combined and correct acls for openstacksdk team
  gerrit/acls/openstack-infra/shade.config
  gerrit/acls/openstack/openstacksdk.config
  gerrit/acls/openstack/os-client-config.config
  gerrit/acls/openstack/python-openstacksdk.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove max-ready-age from nodepool
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
Due: none

Add missing release-openstack-server to ansible-rhsm project
  zuul.d/projects.yaml
Due: none

Add ubuntu-bionic to nodepool
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Remove unused nodepool ready-scripts
  nodepool/scripts/configure_mirror.sh
  nodepool/scripts/multinode_setup.sh
Due: openstack-tox-linters

Stop using ansible-role-redhat-subscription-release Gerrit group
  gerrit/acls/openstack/ansible-role-redhat-subscription.config
Due: none

Add Zuul project for kayobe
  zuul.d/projects.yaml
Due: none

Add new project config for kayobe
  gerrit/acls/openstack/kayobe.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Move release-tools out of jenkins/scripts
  playbooks/proposal/pre.yaml
  playbooks/release/pre.yaml
  roles/copy-release-tools-scripts/README.rst
  roles/copy-release-tools-scripts/files/release-tools/README.rst
  roles/copy-release-tools-scripts/files/release-tools/add_release_note_page.sh
  roles/copy-release-tools-scripts/files/release-tools/clone_repo.sh
  roles/copy-release-tools-scripts/files/release-tools/functions
  roles/copy-release-tools-scripts/files/release-tools/launchpad_add_comment.py
  roles/copy-release-tools-scripts/files/release-tools/make_branch.sh
  roles/copy-release-tools-scripts/files/release-tools/process_release_requests.py
  roles/copy-release-tools-scripts/files/release-tools/process_release_requests.sh
  roles/copy-release-tools-scripts/files/release-tools/py3-requirements.txt
  roles/copy-release-tools-scripts/files/release-tools/release.sh
  roles/copy-release-tools-scripts/files/release-tools/requirements.txt
  roles/copy-release-tools-scripts/files/release-tools/update_constraints.sh
  roles/copy-release-tools-scripts/files/release-tools/update_constraints_for_branch.sh
  roles/copy-release-tools-scripts/tasks/main.yaml
Due: openstack-tox-linters

Remove role legacy-copy-project-config-scripts
  roles/legacy-copy-project-config-scripts/README.rst
  roles/legacy-copy-project-config-scripts/tasks/main.yaml
Due: none

Use new names for jobs in neutron periodic dashboard
  grafana/neutron.yaml
Due: none

Get rid of references to Jenkins slaves
  README.rst
  REVIEWING.rst
Due: none

Stop requests-mock jobs for retirement
  zuul.d/projects.yaml
Due: none

Remove newton job from projects pipeline
  zuul.d/projects.yaml
Due: none

Add kubernetes-incubator/kubespray into zuul tenant
  zuul/main.yaml
Due: project-config-check-main-yaml

Revert "Create stable/queens specific ACL"
  gerrit/acls/openstack/barbican.config
  gerrit/acls/openstack/blazar.config
  gerrit/acls/openstack/ceilometer-powervm.config
  gerrit/acls/openstack/cinder.config
  gerrit/acls/openstack/congress.config
  gerrit/acls/openstack/designate-dashboard.config
  gerrit/acls/openstack/designate.config
  gerrit/acls/openstack/freezer.config
  gerrit/acls/openstack/glance.config
  gerrit/acls/openstack/heat.config
  gerrit/acls/openstack/horizon.config
  gerrit/acls/openstack/keystone.config
  gerrit/acls/openstack/manila.config
  gerrit/acls/openstack/mistral.config
  gerrit/acls/openstack/murano.config
  gerrit/acls/openstack/networking-bagpipe.config
  gerrit/acls/openstack/networking-bgpvpn.config
  gerrit/acls/openstack/networking-midonet.config
  gerrit/acls/openstack/networking-odl.config
  gerrit/acls/openstack/networking-ovn.config
  gerrit/acls/openstack/networking-sfc.config
  gerrit/acls/openstack/neutron-dynamic-routing.config
  gerrit/acls/openstack/neutron-fwaas.config
  gerrit/acls/openstack/neutron-lbaas-dashboard.config
  gerrit/acls/openstack/neutron-lbaas.config
  gerrit/acls/openstack/neutron.config
  gerrit/acls/openstack/nova.config
  gerrit/acls/openstack/octavia-dashboard.config
  gerrit/acls/openstack/octavia.config
  gerrit/acls/openstack/sahara-dashboard.config
  gerrit/acls/openstack/sahara-etc.config
  gerrit/acls/openstack/sahara.config
  gerrit/acls/openstack/searchlight-ui.config
  gerrit/acls/openstack/searchlight.config
  gerrit/acls/openstack/senlin.config
  gerrit/acls/openstack/trove-dashboard.config
  gerrit/acls/openstack/trove.config
  gerrit/acls/openstack/zaqar-ui.config
  gerrit/acls/openstack/zaqar.config
Due: none

Update zanata-cli to 4.3.3
  nodepool/elements/cache-devstack/source-repository-zanatacli
  roles/prep-zanata/README.rst
  roles/prep-zanata/defaults/main.yaml
Due: none

Import config_template to openstack(-ansible)
  gerrit/acls/openstack/ansible-config_template.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Migrate release team deliverables to storyboard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Stop using connection tracking for ssh connections
  nodepool/elements/nodepool-base/install.d/20-iptables
Due: none

Fix castellan-ui release job
  zuul.d/projects.yaml
Due: none

Remove unnecessary distribution determination
  nodepool/elements/cache-devstack/extra-data.d/55-cache-devstack-repos
Due: none

Set Mirroring Slug properly for the Tumbleweed case
  jenkins/scripts/afs-slug.sh
Due: openstack-tox-linters

Fix wrong indent for role prep-zanata
  roles/prep-zanata/tasks/main.yaml
Due: none

Fix prep-zanata
  roles/prep-zanata/tasks/main.yaml
Due: none

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
