Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-ubuntu-xenial, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nameserver, opendev-buildset-registry, build-openstack-specs-site, project-config-grafana, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, infra-prod-service-zuul, infra-prod-run-accessbot, infra-prod-service-eavesdrop, infra-prod-service-grafana, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-3.10: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-3.10: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-3.10: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  opendev-buildset-registry: any of: ^grafana/.*$
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-grafana: any of: ^grafana/.*$
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  infra-prod-service-zuul: any of: zuul/main.yaml
  infra-prod-run-accessbot: any of: accessbot/channels.yaml
  infra-prod-service-eavesdrop: any of: gerritbot/channels.yaml
  infra-prod-service-grafana: any of: ^grafana/.*$
  zuul-migrate: any of: zuul/mapping.yaml

Revert "Temporarily turn down raxflex-dfw3 use"
  nodepool/nl05.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Move yaml2ical to the opendev tenant
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul

Only pause update_constraints.sh when needed
  playbooks/proposal/propose-update-constraints.yaml
  roles/copy-release-tools-scripts/files/release-tools/update_constraints.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Add Aetos under the telemetry project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-service-eavesdrop

Remove telemetry groups
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Add jobs for new Aetos repository
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Set rax flex sjc3 max-servers to 0 for mirror work
  nodepool/nl05.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Revert "Set rax flex sjc3 max-servers to 0 for mirror work"
  nodepool/nl05.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

watcher: Remove notification of puppet-watcher
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-eavesdrop

zaqar: Fix missing notification about stable branches
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-eavesdrop

storlets: Add gerritbot notification about stable branches
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-eavesdrop

Add official-openstack-repo-jobs to openstack-helm-infra
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Temporarily stop loading nodesets from zuul-providers
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul

Use zuul-providers for nodesets in opendev/zuul tenants
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul

Move OSA sync to integrated repository
  playbooks/proposal/propose_update.sh
  playbooks/proposal/sync_openstack_ansible_common_files.sh
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Deprecate openstack-ansible-tests repository
  gerrit/projects.yaml
  zuul.d/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Remove noop jobs for openstack-ansible-tests
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

create openstack/grian-ui git repo
  gerrit/acls/openstack/grian-ui.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-service-eavesdrop

Add jobs for openstack/grian-ui repo
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Make viommu disk image use q35 machine type
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Add collections required by OpenStack-Ansible to github projects
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul

Add zuul-launcher dashboards
  grafana/create-nodepool.sh
  grafana/zuul-launcher-openmetal.yaml
  grafana/zuul-launcher-osuosl.yaml
  grafana/zuul-launcher-ovh.yaml
  grafana/zuul-launcher-rax.yaml
  grafana/zuul-launcher-raxflex.yaml
  grafana/zuul-launcher-vexxhost.yaml
  grafana/zuul-launcher.template
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, opendev-buildset-registry, project-config-grafana, infra-prod-service-grafana

to create a new repo for a cfn new launched sub-group heterogeneous distributed training framework
  gerrit/acls/cfn/heterogeneous-distributed-training-framework.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Add team IRC ops for #openstack-nova
  accessbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-run-accessbot

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

kolla: Allow kolla-core to remove RP votes
  gerrit/acls/openstack/kolla.config
  tools/normalize_acl.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Allow use of receive.requireSignedOffBy in ACLs
  tools/normalize_acl.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Temporarily require Signed-Off-By in the sandbox
  gerrit/acls/opendev/sandbox.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Update neutron grafana dashboard with new FWaaS jobs
  grafana/neutron-tempest-plugin.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, opendev-buildset-registry, project-config-grafana, infra-prod-service-grafana

Make scripts DCO compliant
  playbooks/proposal/propose_update.sh
  roles/copy-release-tools-scripts/files/release-tools/add_release_note_page.sh
  roles/copy-release-tools-scripts/files/release-tools/change_reno_branch_to_unmaintained.sh
  roles/copy-release-tools-scripts/files/release-tools/functions
  roles/copy-release-tools-scripts/files/release-tools/update_constraints.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Comply with Policy for AI Generated Content
  playbooks/proposal/propose_update.sh
  roles/copy-release-tools-scripts/files/release-tools/add_release_note_page.sh
  roles/copy-release-tools-scripts/files/release-tools/change_reno_branch_to_unmaintained.sh
  roles/copy-release-tools-scripts/files/release-tools/functions
  roles/copy-release-tools-scripts/files/release-tools/update_constraints.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Revert "Temporarily require Signed-Off-By in the sandbox"
  gerrit/acls/opendev/sandbox.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Add missing ACL inheritance for openstack/grian-ui
  gerrit/acls/openstack/grian-ui.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Retire openstack-helm-infra repo
  gerrit/acls/openstack/openstack-helm-infra.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Update infra-package-needs/pkg-map
  nodepool/elements/infra-package-needs/pkg-map
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool

Add nova-contrib
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Remove redundant editHashtags config
  gerrit/acls/openstack/bifrost.config
  gerrit/acls/openstack/ironic.config
  gerrit/acls/openstack/tenks.config
  gerrit/acls/zuul/nodepool.config
  gerrit/acls/zuul/project-config.config
  gerrit/acls/zuul/zuul-base-jobs.config
  gerrit/acls/zuul/zuul-jobs.config
  gerrit/acls/zuul/zuul-website.config
  gerrit/acls/zuul/zuul.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Remove editHashtags config
  gerrit/acls/openstack/api-site.config
  gerrit/acls/openstack/constellations.config
  gerrit/acls/openstack/election.config
  gerrit/acls/openstack/goal-tools.config
  gerrit/acls/openstack/governance.config
  gerrit/acls/openstack/ideas.config
  gerrit/acls/openstack/kayobe.config
  gerrit/acls/openstack/kolla.config
  gerrit/acls/openstack/openstack-manuals.config
  gerrit/acls/openstack/project-team-guide.config
  gerrit/acls/openstack/service-types-authority.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Disallow editHashtags in acl configs
  tools/normalize_acl.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Disable Nodepool's rax iad region
  nodepool/nl05.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nodepool
