Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-15, project-config-bindep-fallback-ubuntu-xenial, openstacksdk-ansible-stable-2.6-functional-devstack, shade-ansible-stable-2.5-functional-devstack, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nameserver, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, infra-prod-service-zuul, infra-prod-run-accessbot, infra-prod-service-eavesdrop, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    twine_python: python3

promote-openstack-releasenotes:
  parent: opendev-promote-docs-base
  description: 'Promote the results of build-openstack-releasenotes to
  
    /afs/.openstack.org/docs/releasenotes/{{ zuul.project.short_name }}
  
    '
  final: true
  vars:
    download_artifact_job: build-openstack-releasenotes
  secrets:
  - secret: afsdocs_secret-releasenotes
  ...

check-release-approval:
  description: 'Checks that release requests were approved by PTL or release liaison.
  
  
    This job is specific to the openstack/releases repository.
  
    '
  allowed-projects:
  - openstack/releases
  required-projects:
  - name: openstack/governance
  run: playbooks/check-release-approval/run.yaml
  final: true
  ...

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-15:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 15.
  
    '
  nodeset: opensuse-15

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

openstacksdk-ansible-stable-2.6-functional-devstack:
  branches: stable-2.6

shade-ansible-stable-2.5-functional-devstack:
  branches: stable-2.5

system-config-build-image-gerrit-base:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-python-builder-3.7
    soft: true

system-config-build-image-gerrit-3.2:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-gerrit-base
    soft: true

system-config-build-image-gerrit-master:
  voting: false
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-gerrit-base
    soft: true

system-config-upload-image-gerrit-base:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-upload-image-python-builder-3.7
    soft: true

infra-prod-manage-projects:
  dependencies: []

linters: avoid broken ansible-compat
  tox.ini
Due: promote-openstack-releasenotes, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add an "apply" transformation which applies all
  tools/normalize_acl.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Make option indenting a selectable transformation
  tools/normalize_acl.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Harbor app to StarlingX
  gerrit/acls/starlingx/app-harbor.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

linters: yet still more broken ansible-compat
  tox.ini
Due: promote-openstack-releasenotes, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Pull grafyaml from quay.io
  grafana/run-grafana.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Adjust ACL for ovn-bgp-agent releases
  gerrit/acls/openstack/ovn-bgp-agent.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Migrate Barbican back to Launchpad
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add a convenient normalize-gerrit-acl tox testenv
  tox.ini
Due: promote-openstack-releasenotes, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add nebulous/component-template
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Temporary disable nested-virt labels in vexxhost-ca-ymq-1"
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

grafana: Update kolla dashboards with proper job names
  grafana/kolla.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Pin ansible-compat<4 until we upgrade ansible-lint
  tox.ini
Due: promote-openstack-releasenotes, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Switch from deprecated require-approval to require
  zuul.d/pipelines.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix the NebulOuS tenant config
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix voting groups of starlingx/app-harbor
  gerrit/acls/starlingx/app-harbor.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Kubernetes Power Manager app to StarlingX
  gerrit/acls/starlingx/app-kubernetes-power-manager.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Pull grafyaml from quay.io"
  grafana/run-grafana.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove retied projects from openstack-helm group
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Stop testing github hosted projects in openstack tenant
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Cache new cirros images
  nodepool/elements/cache-devstack/source-repository-images
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add nebulous/zuul-jobs
  gerrit/acls/nebulous/zuul-jobs.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

wheel builds : move to individual releases
  playbooks/wheel/release.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add ovn-bgp-agent to openstack-neutron IRC channel
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-eavesdrop, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add the branch to the release metadata
  roles/copy-release-tools-scripts/files/release-tools/process_release_requests.py
  roles/copy-release-tools-scripts/files/release-tools/release.sh
  roles/copy-release-tools-scripts/files/release-tools/update_constraints.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove the CLOSED_SERIES static list
  roles/copy-release-tools-scripts/files/release-tools/process_release_requests.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add more NebulOuS sandboxes and templates
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Disable networking-odl jobs temporarily
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update networking-odl templates according to documentation
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix release-wheel-cache job
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add nebulous/asyncapi
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add starlingx/virtual-deployment
  gerrit/acls/starlingx/virtual-deployment.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Power Metrics app to StarlingX
  gerrit/acls/starlingx/app-power-metrics.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix release-id fetching for release job
  roles/copy-release-tools-scripts/files/release-tools/process_release_requests.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add repos for NebulOuS pilot cases
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Build debian bookworm images
  nodepool/elements/infra-package-needs/pkg-map
  nodepool/elements/infra-package-needs/post-install.d/80-enable-infra-services
  nodepool/nb04.opendev.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Start booting bookworm nodes
  nodepool/nl01.opendev.org.yaml
  nodepool/nl02.opendev.org.yaml
  nodepool/nl03.opendev.org.yaml
  nodepool/nl04.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-15: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstacksdk-ansible-stable-2.6-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack_inventory.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  shade-ansible-stable-2.5-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-3.2: any of: ^.*$
  system-config-build-image-gerrit-master: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-3.2: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-3.2: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  infra-prod-service-zuul: any of: zuul/main.yaml
  infra-prod-run-accessbot: any of: accessbot/channels.yaml
  infra-prod-service-eavesdrop: any of: gerritbot/channels.yaml
  infra-prod-service-grafana: any of: grafana/
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-full-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-ovs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-puppet-midonet-puppet-unit-4.5-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-midonet-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  zuul-migrate: any of: zuul/mapping.yaml
