Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-ubuntu-xenial, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nameserver, opendev-buildset-registry, build-openstack-specs-site, project-config-grafana, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, infra-prod-service-zuul, infra-prod-run-accessbot, infra-prod-service-eavesdrop, infra-prod-service-grafana, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-3.10: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-3.10: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-3.10: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  opendev-buildset-registry: any of: ^grafana/.*$
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-grafana: any of: ^grafana/.*$
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  infra-prod-service-zuul: any of: zuul/main.yaml
  infra-prod-run-accessbot: any of: accessbot/channels.yaml
  infra-prod-service-eavesdrop: any of: gerritbot/channels.yaml
  infra-prod-service-grafana: any of: ^grafana/.*$
  zuul-migrate: any of: zuul/mapping.yaml

Replace all secrets with dummy value
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Restore AFS secrets
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Replace OpenPGP signing subkey
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Update remaining AFS keytabs
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Refresh Gerrit SSH for proposal and release bots
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Update openstack-mirroring secrets
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Update api_token for pypi access
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

kolla: Introduce a version of Ironic core two tier structure
  gerrit/acls/openstack/kolla.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Update pypi api_token
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Migrate base propose-updates job to Jammy
  playbooks/proposal/pre.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Revive os_freezer role for OSA
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Add template to the os_freezer repo
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Revive os_watcher role for OSA
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Add os_watcher zuul templates
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Clean up unused DockerHub credentials
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Rotate Launchpad token for release jobs
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Drop openstack-fips and openstack_ubuntu_fips
  playbooks/openstack-fips/README.rst
  playbooks/openstack-fips/pre.yaml
  zuul.d/jobs.yaml
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Add repo app-openvswitch for starlingx
  gerrit/acls/starlingx/app-openvswitch.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Fix missing packages for doc build in translation update
  playbooks/translation/pre.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Remove #opendev from gerritbot
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-eavesdrop

Update description for Freezer projects
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Clean up ACLs for SDK projects
  gerrit/acls/openstack/openstacksdk.config
  gerrit/acls/openstack/python-openstackclient.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Simplify Zuul tenant config for providers
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul

Add back volvocars repos in volvocars tenant
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul

Reset Zanata API key
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Add wandertracks-android repo for WanderTracks
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Onboard xstatic-angular-schema-form repo (1/2)
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-service-eavesdrop

Onboard xstatic-angular-schema-form repo (2/2)
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Onboard more xstatic repos (1/2)
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-service-eavesdrop

Sync xstatic package to gerritbot
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-eavesdrop

Onboard more xstatic repos (2/2)
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Put wandertracks repos into a shared queue
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

add ops to cyborg and watcher channels
  accessbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-run-accessbot

Add snu-csl/nvmevirt to available repos
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul

Replace 2026.1/Gazpacho key with 2026.2/Hibiscus
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Stop publishing collection to PyPi
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Add metapackages repo to StarlingX
  gerrit/acls/starlingx/metapackages.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul
