Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-15, project-config-bindep-fallback-ubuntu-xenial, openstacksdk-ansible-stable-2.6-functional-devstack, shade-ansible-stable-2.5-functional-devstack, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, infra-prod-service-nameserver, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    twine_python: python3

promote-openstack-releasenotes:
  parent: opendev-promote-docs-base
  description: 'Promote the results of build-openstack-releasenotes to
  
    /afs/.openstack.org/docs/releasenotes/{{ zuul.project.short_name }}
  
    '
  final: true
  vars:
    download_artifact_job: build-openstack-releasenotes
  secrets:
  - secret: afsdocs_secret-releasenotes
  ...

check-release-approval:
  description: 'Checks that release requests were approved by PTL or release liaison.
  
  
    This job is specific to the openstack/releases repository.
  
    '
  allowed-projects:
  - openstack/releases
  required-projects:
  - name: openstack/governance
  run: playbooks/check-release-approval/run.yaml
  final: true
  ...

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-15:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 15.
  
    '
  nodeset: opensuse-15

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

openstacksdk-ansible-stable-2.6-functional-devstack:
  branches: stable-2.6

shade-ansible-stable-2.5-functional-devstack:
  branches: stable-2.5

system-config-build-image-gerrit-base:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-python-builder-3.7
    soft: true

system-config-build-image-gerrit-2.13:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-python-builder-3.7
    soft: true
  - name: system-config-build-image-gerrit-base
    soft: true

system-config-build-image-gerrit-2.15:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-gerrit-base
    soft: true

system-config-build-image-gerrit-2.16:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-gerrit-base
    soft: true

Add google/wycheproof to pyca Zuul tenant
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Adds airship/charts repo to publish job
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

End project gating for Karbor
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update retiring Karbor repo ACL to openstack/retired.config
  gerrit/acls/openstack/karbor.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Mirror charm-magpie and its interface to GitHub
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add plugins/zuul-results-summary to googlesource repos
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add nested-virt-centos-8-stream label
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Iotronic and Iotronic-lightning-rod update.
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update Grafana dashboard for Neutron jobs
  grafana/neutron.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool: pause opensuse-15 builds
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update Kolla dashboards
  grafana/kolla.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add new repo for Glance Tempest Plugin
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add novnc to available repos
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add stestr to available repos
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Use python3 to run release note script
  roles/copy-release-tools-scripts/files/release-tools/add_release_note_page.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

release-scripts: Remove misleading error message
  roles/copy-release-tools-scripts/files/release-tools/clone_repo.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Create microstack-specs project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move snaps ACL to x
  gerrit/acls/x/snaps.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move git-review zuul config in-tree
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

update gentoo from python 3.6 to python 3.8
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Un-pause Gentoo image builds
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Combine acl file for all interop source code repo
  gerrit/acls/osf/python-tempestconf.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Set up access for #openinfra channel
  accessbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

allow create-repo-list to be run without six
  nodepool/elements/openstack-repos/extra-data.d/50-create-repo-list
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

add gnupg2 to package map for gentoo
  nodepool/elements/infra-package-needs/pkg-map
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add PTP Notification app to StarlingX
  gerrit/acls/starlingx/ptp-notification-armada-app.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Adding irc notification for missing oslo projects
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

cursive: prepare to move the jobs in-tree
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add ubuntu bionic and focal with xxxlarge flavor
  nodepool/nl03.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Revert "Revert "Temporarily stop booting nodes in inap-mtl01"""
  nodepool/nl03.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Revert "Revert "Revert "Temporarily stop booting nodes in inap-mtl01""""
  nodepool/nl03.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Preparation for tempest-horizon retirement
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add rbd-iscsi-client to cinder project
  gerrit/acls/openstack/rbd-iscsi-client.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update neutron grafana dashboard
  grafana/neutron.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add official-openstack-repo-jobs for openstack/glance-tempest-plugin
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add key editHashtags to normalize_acl script
  tools/normalize_acl.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update ACLs of Ironic Projects to allow Edit Hashtags
  gerrit/acls/openstack/bifrost.config
  gerrit/acls/openstack/ironic-inspector.config
  gerrit/acls/openstack/ironic-specs.config
  gerrit/acls/openstack/ironic-ui.config
  gerrit/acls/openstack/ironic.config
  gerrit/acls/openstack/metalsmith.config
  gerrit/acls/openstack/networking-generic-switch.config
  gerrit/acls/openstack/sushy.config
  gerrit/acls/openstack/tenks.config
  gerrit/acls/openstack/virtualbmc.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

CentOS 8 Stream initial enablement for AArch64
  nodepool/nb03.opendev.org.yaml
  nodepool/nl03.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove Karbor projects from infra
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-15: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstacksdk-ansible-stable-2.6-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack_inventory.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  shade-ansible-stable-2.5-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-2.13: any of: ^.*$
  system-config-build-image-gerrit-2.15: any of: ^.*$
  system-config-build-image-gerrit-2.16: any of: ^.*$
  system-config-build-image-gerrit-3.0: any of: ^.*$
  system-config-build-image-gerrit-master: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-2.13: any of: ^.*$
  system-config-upload-image-gerrit-2.15: any of: ^.*$
  system-config-upload-image-gerrit-2.16: any of: ^.*$
  system-config-upload-image-gerrit-3.0: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-2.13: any of: ^.*$
  system-config-promote-image-gerrit-2.15: any of: ^.*$
  system-config-promote-image-gerrit-2.16: any of: ^.*$
  system-config-promote-image-gerrit-3.0: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  legacy-tempest-dsvm-networking-onos: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-neutron-ipv6only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-serviceipv6: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-nfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-native: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-nfs-heketi: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-native-heketi: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-full-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-ovs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-puppet-midonet-puppet-unit-4.5-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-midonet-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  zuul-migrate: any of: zuul/mapping.yaml
