Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Run openstacksdk ansible tests on stable-2.6 of ansible
  zuul.d/projects.yaml
Due: none

Set up OS-Helm in Storyboard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Set nova-lxd project to delay-release
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove direct tagging/branching for PowerVMStackers
  gerrit/acls/openstack/networking-powervm.config
  gerrit/acls/openstack/nova-powervm.config
Due: none

Fix erroneous ACL for puppet-pacemaker
  gerrit/acls/openstack/puppet-pacemaker.config
Due: none

Remove irrelevant-files from legacy-rally-dsvm-verify-full-discover-resources
  zuul.d/projects.yaml
Due: none

Add a zuul test to run on github3.py changes
  tools/zuul-projects-checks.py
  zuul.d/projects.yaml
Due: openstack-tox-linters

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Move planet unittests in-tree
  zuul.d/projects.yaml
Due: none

nodepool: Set min-ready to '1' for opensuse-150
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
Due: none

Remove direct tagging/branching for yaql
  gerrit/acls/openstack/yaql.config
Due: none

Remove jobs from beaker-* projects
  zuul.d/projects.yaml
Due: none

Initial grafana AFS dashboard
  grafana/afs.yaml
Due: none

Use tox for grafyaml validation
  tools/grafyaml-validate.sh
  tox.ini
Due: openstack-tox-linters

Import openstackclient to Chef OpenStack
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove networking-odl carbon jobs from stats
  grafana/networking-odl.yaml
Due: none

Replace neutron ovsfw job with iptables_hybrid
  grafana/neutron.yaml
Due: none

Add kata-containers/proxy to zuul
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove nitrogen from n-odl grafana
  grafana/networking-odl.yaml
Due: none

Add publish-to-pypi jobs to ansible-role-container-registry
  zuul.d/projects.yaml
Due: none

Sort zuul/main.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add afsmon project
  gerrit/acls/openstack-infra/afsmon.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add StarlingX repos
  gerrit/acls/openstack/starlingx.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add zuul jobs for StarlingX
  zuul.d/projects.yaml
Due: none

Enable doc and release notes for python-tempestconf
  zuul.d/projects.yaml
Due: none

Import new repos to openstack-ansible
  gerrit/acls/openstack/ansible-role-qdrouterd.config
  gerrit/acls/openstack/openstack-ansible-os_zun.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add new OSA project base jobs
  zuul.d/projects.yaml
Due: none

Add magnum to storyboard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove direct tagging/branching for QA repos
  gerrit/acls/openstack-dev/bashate.config
  gerrit/acls/openstack/eslint-config-openstack.config
  gerrit/acls/openstack/karma-subunit-reporter.config
Due: none

Set up cgit aliases for StarlingX
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add tox coverage job
  zuul.d/projects.yaml
Due: none

Use updated openstackci beaker jobs
  zuul.d/projects.yaml
Due: none

zuul grafana: fix load average graph
  grafana/zuul-status.yaml
Due: none

Retire kolla-kubernetes project - step 4 remove from infra system
  gerrit/acls/openstack/kolla-kubernetes.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Switch to specific flavor and slowly bump capacity
  nodepool/nl03.openstack.org.yaml
Due: none

Add cookbook-openstackclient repo jobs
  zuul.d/projects.yaml
Due: none

fix vmware-nsx jobs
  zuul.d/projects.yaml
Due: none

Add kata-run job to kata-containers/proxy
  nodepool/nl03.openstack.org.yaml
  playbooks/kata-run/pre.yaml
  playbooks/kata-run/run.yaml
  tools/zuul-projects-checks.py
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: openstack-tox-linters
