Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-nameserver, opendev-buildset-registry, build-openstack-specs-site, project-config-grafana, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, infra-prod-service-zuul, infra-prod-run-accessbot, infra-prod-service-eavesdrop, infra-prod-service-grafana, zuul-migrate

Path conditions:
  test-release-openstack: any of: pyproject.toml, setup.cfg, setup.py, README.rst, MANIFEST.in
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-3.10: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-3.10: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-3.10: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  opendev-buildset-registry: any of: ^grafana/.*$
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-grafana: any of: ^grafana/.*$
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  infra-prod-service-zuul: any of: zuul/main.yaml
  infra-prod-run-accessbot: any of: accessbot/channels.yaml
  infra-prod-service-eavesdrop: any of: gerritbot/channels.yaml
  infra-prod-service-grafana: any of: ^grafana/.*$
  zuul-migrate: any of: zuul/mapping.yaml

Fix publish-openstack-releasenotes-python3 job
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Add devstack-plugin-lustre notifications
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-eavesdrop

Add devstack-plugin-lustre to Zuul tenant
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul

Change ACLs for Venus to retired
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

[release-tool] check-approval use only governance data
  roles/check-release-approval/files/check_approval.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Add #openstack-pqc IRC channel
  accessbot/channels.yaml
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-run-accessbot, infra-prod-service-eavesdrop

Reset PuppetForge password
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Add starlingx/app-machine-operator project
  gerrit/acls/starlingx/app-machine-operator.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Allow Trove Cores to change Backport-Candidate labels
  gerrit/acls/openstack/trove.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Import drizzle revival and add a bindep-rs support project
  gerrit/acls/drizzle/drizzle.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Remove gerritbot project notifications from #openstack-pqc
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-eavesdrop

Add #openstack-agentic-workflows IRC channel
  accessbot/channels.yaml
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-run-accessbot, infra-prod-service-eavesdrop

Add jbernard as an op for the cinder IRC channel
  accessbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-run-accessbot

Update jeepyb gerrit build to 3.13
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Add repo app-ejbca for starlingx
  gerrit/acls/starlingx/app-ejbca.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Add PTP Metrics Exporter app to StarlingX
  gerrit/acls/starlingx/app-ptp-metrics-exporter.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Add repo oauth2-proxy-app for starlingx
  gerrit/acls/starlingx/oauth2-proxy-app.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Add 3 more Metal3 projects to untrusted-projects
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul

Add repo app-reloader for StarlingX
  gerrit/acls/starlingx/app-reloader.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Retire Venus Project
  accessbot/channels.yaml
  gerrit/acls/openstack/venus.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-run-accessbot, infra-prod-service-eavesdrop

Switch gerrit-3.12 to gerrit-3.13 in one more location
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Deprecate Vitrage project
  gerrit/projects.yaml
  zuul.d/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

[cinder] Make Review-Priority sticky
  gerrit/acls/openstack/cinder.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

Clean up log-classify jobs
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Remove packaging configuration
  setup.cfg
  setup.py
  tox.ini
Due: test-release-openstack, promote-openstack-releasenotes, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site

Add more repos for drizzle website and sysadmin automation
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Drop iotronic repos from zuul and IRC
  accessbot/channels.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul, infra-prod-run-accessbot, infra-prod-service-eavesdrop

Cleanup some projects' zuul definitions
  tools/zuul-projects-checks.py
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

sunbeam: retire all single charm repositories
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul

Drop x/networking-bigswitch from zuul
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Drop x/networking-bigswitch from zuul
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul

Drop x/neutron-interconnection from zuul
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-service-zuul

Drop config for retired Sunbeam single charm repositories
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10

Retire cinderlib
  gerrit/projects.yaml
  zuul.d/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects

add repo build-config for StarlingX
  gerrit/acls/starlingx/build-config.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.10, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.10, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.10, infra-prod-manage-projects, infra-prod-service-zuul
