Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

project-config-check-main-yaml:
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

Create openstack/governance-sigs repository
  gerrit/acls/openstack/governance-sigs.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Don't install centos-release-openstack-ocata
  nodepool/elements/infra-package-needs/package-installs.yaml
  nodepool/elements/infra-package-needs/pkg-map
Due: none

Add openstack-masakari to accessbot channels
  accessbot/channels.yaml
Due: none

fix test-requirements.txt syntax
  test-requirements.txt
Due: openstack-tox-linters

Add networking-baremetal to #openstack-ironic
  gerritbot/channels.yaml
Due: none

Fix neutron-vpnaas grafana dashboard
  grafana/neutron-vpnaas.yaml
Due: none

Add minimal jobs for openstack/governance-sigs
  zuul.d/projects.yaml
Due: none

Clean up releasenotes jobs
  zuul.d/projects.yaml
Due: none

Add centos-release-openstack-pike support for wheel-build jobs
  playbooks/wheel/pre.yaml
Due: none

instack-undercloud: remove legacy job
  zuul.d/projects.yaml
Due: none

Remove unused jenkins/scripts scripts
  jenkins/scripts/check-osc-plugins.sh
  jenkins/scripts/check_app_catalog_yaml.py
  jenkins/scripts/check_osc_commands.py
  jenkins/scripts/lvm-kexec-reset.sh
  jenkins/scripts/mavencentral-upload.sh
  jenkins/scripts/ping.py
  jenkins/scripts/project-requirements-change.py
  jenkins/scripts/pypi-tarball-upload.sh
  jenkins/scripts/pypi-wheel-upload.sh
  jenkins/scripts/run-cover.sh
  jenkins/scripts/run-docs.sh
  jenkins/scripts/run-pep8.sh
  jenkins/scripts/run-pylint.sh
  jenkins/scripts/run-selenium.sh
  jenkins/scripts/run-tarball.sh
  jenkins/scripts/run-wheel.sh
  jenkins/scripts/tarball-signing.sh
  jenkins/scripts/tardiff.py
Due: openstack-tox-linters

Cleanup voting entries in projects.yaml
  tools/zuul-projects-checks.py
  zuul.d/projects.yaml
Due: openstack-tox-linters

Avoid adding centos repos on non-centos distros
  playbooks/wheel/pre.yaml
Due: none

Skip openstack-tox-py35 on requirements for newton
  zuul.d/projects.yaml
Due: none

remove non-voting from experimental jobs
  tools/zuul-projects-checks.py
  zuul.d/projects.yaml
Due: openstack-tox-linters

Use only base publish-openstack-sphinx-docs job
  zuul.d/projects.yaml
Due: none

Update neutron-vpnaas grafana dashboard
  grafana/neutron-vpnaas.yaml
Due: none

Collect testrepository.subunit.gz for translations
  playbooks/translation/propose-translation-update.yaml
  playbooks/translation/upstream-translation-update.yaml
  roles/fetch-translations-stestr-output/README.rst
  roles/fetch-translations-stestr-output/defaults/main.yaml
  roles/fetch-translations-stestr-output/tasks/main.yaml
Due: none

translations: Use installed os-testr
  jenkins/scripts/common_translation_update.sh
Due: openstack-tox-linters

Add masakari-dashboard project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

periodic py jobs for vmware-nsx ocata and pike
  zuul.d/projects.yaml
Due: none

Add tripleo-ipsec project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove required-projects from post docs jobs
  zuul.d/projects.yaml
Due: none

Remove legacy jobs from oaktree repos
  zuul.d/projects.yaml
Due: none

Add release-notes-jobs to kuryr-kubernetes
  zuul.d/projects.yaml
Due: none

Set up doc-building jobs for governance-sigs repo
  zuul.d/projects.yaml
Due: none

Modify charm-ceph-mon to make it an python35 only for gate
  zuul.d/projects.yaml
Due: none

Remove all remaining single node jobs
  zuul.d/projects.yaml
Due: none

Remove legacy designate jobs
  zuul.d/projects.yaml
Due: none

neutron: don't execute legacy in-tree tempest jobs for master
  zuul.d/projects.yaml
Due: none

Fix publication of IRC meetings ICS files
  playbooks/yaml2ical/post.yaml
Due: none

Add documentation build and publish jobs for python-tripleoclient
  zuul.d/projects.yaml
Due: none

Remove legacy designateclient jobs
  zuul.d/projects.yaml
Due: none

Stop translation job for django-openstack-auth master branch
  zuul.d/projects.yaml
Due: none

Allow the use of Storyboard for Kolla-Kubernetes
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Use infra specific beaker rspec template
  zuul.d/projects.yaml
Due: none

Add root-marker to publish-openstack-sphinx-docs-direct
  playbooks/python-docs/post-direct.yaml
Due: none

Shift shade IRC activity to openstack-sdks
  accessbot/channels.yaml
  gerritbot/channels.yaml
Due: none

Fix handling of locked channels in access check
  tools/check_irc_access.py
Due: openstack-tox-linters

Add tripleo-ipsec to zuul.d/projects.yaml
  zuul.d/projects.yaml
Due: none

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
