Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-15, project-config-bindep-fallback-ubuntu-xenial, openstacksdk-ansible-stable-2.6-functional-devstack, shade-ansible-stable-2.5-functional-devstack, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nameserver, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, infra-prod-service-zuul, infra-prod-run-accessbot, infra-prod-service-eavesdrop, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-15: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstacksdk-ansible-stable-2.6-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack_inventory.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  shade-ansible-stable-2.5-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-3.2: any of: ^.*$
  system-config-build-image-gerrit-master: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-3.2: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-3.2: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  infra-prod-service-zuul: any of: zuul/main.yaml
  infra-prod-run-accessbot: any of: accessbot/channels.yaml
  infra-prod-service-eavesdrop: any of: gerritbot/channels.yaml
  infra-prod-service-grafana: any of: grafana/
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-full-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-ovs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-puppet-midonet-puppet-unit-4.5-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-midonet-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  zuul-migrate: any of: zuul/mapping.yaml

Update tox.ini for tox v4
  tox.ini
Due: promote-openstack-releasenotes, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update post-review zuul pipeline definiton
  zuul.d/pipelines.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Flip jeepyb over to building Gerrit 3.6
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add the "api-ref-jobs" template to CloudKitty
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Bring back the PTL+1 column in release dashboard
  gerrit/acls/openstack/releases.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update Grafana's dasboard for Neutron
  grafana/neutron.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool: remove ubuntu-bionic-arm64-large label
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

ARM64 nodes : rename larger types to be more descriptive
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add new linaro cloud
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix tox4 error
  tox.ini
Due: promote-openstack-releasenotes, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add FIPS job for ubuntu
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add createSignedTag permissions for openstack/ci-log-processing project
  gerrit/acls/openstack/ci-log-processing.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

openstack-afs.yaml : correct indentation
  playbooks/publish/openstack-afs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add nb04 config
  nodepool/nb04.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove redundant editHashtag lines
  gerrit/acls/openstack/bifrost.config
  gerrit/acls/openstack/ironic-inspector.config
  gerrit/acls/openstack/ironic.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Correct syntax on toggleWipState
  gerrit/acls/openstack/ironic-inspector.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Reduce virtualpdu tests
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nl03 : reorganise labels
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nb03/04: add linaro as a provider
  nodepool/nb03.opendev.org.yaml
  nodepool/nb04.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

arm64: remove min-ram constraints
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Set allow-other-connections: false on post-review pipeline
  zuul.d/pipelines.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

linaro-us : set max-servers to 0
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nb04: use linaro region mirror
  nodepool/nb04.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool: empty linaro-us cloud
  nodepool/nb03.opendev.org.yaml
  nodepool/nb04.opendev.org.yaml
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool: drop linaro-us
  nodepool/nb03.opendev.org.yaml
  nodepool/nb04.opendev.org.yaml
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool: fix new linaro provider name in nb04
  nodepool/nb04.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool: size linaro max-servers to subnet
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add github sqlalchemy/sqlalchemy to the project list
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove manila-tempest-dsvm-hdfs
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add base openstack FIPS job
  playbooks/openstack-fips/README.rst
  playbooks/openstack-fips/pre.yaml
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Step 1: End Project Gating, Retire xstatic-font-awesome
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool: infra-package-needs; drop curl
  nodepool/elements/infra-package-needs/package-installs.yaml
  nodepool/elements/infra-package-needs/pkg-map
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool: infra-package-needs; cleanup python
  nodepool/elements/infra-package-needs/package-installs.yaml
  nodepool/elements/infra-package-needs/pkg-map
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool: infra-package-needs; remove lvm2
  nodepool/elements/infra-package-needs/package-installs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool: infra-package-needs; cleanup tox installs
  nodepool/elements/infra-package-needs/install.d/10-pip-packages
  nodepool/elements/infra-package-needs/install.d/40-install-tox
  nodepool/elements/infra-package-needs/package-installs.yaml
  nodepool/elements/infra-package-needs/pkg-map
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Create a git for the storage of public keys and certificates
  gerrit/acls/starlingx/public-keys.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove add_master_python3_jobs.sh
  roles/copy-release-tools-scripts/files/release-tools/add_master_python3_jobs.sh
  roles/copy-release-tools-scripts/files/release-tools/make_branch.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Cache Cirros 0.6.1 images
  nodepool/elements/cache-devstack/source-repository-images
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update StarlingX docs promote job for R8 release
  zuul.d/starlingx-jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src
