Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-15, project-config-bindep-fallback-ubuntu-xenial, openstacksdk-ansible-stable-2.6-functional-devstack, shade-ansible-stable-2.5-functional-devstack, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, infra-prod-service-nameserver, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-15: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstacksdk-ansible-stable-2.6-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack_inventory.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  shade-ansible-stable-2.5-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-2.13: any of: ^.*$
  system-config-build-image-gerrit-2.15: any of: ^.*$
  system-config-build-image-gerrit-2.16: any of: ^.*$
  system-config-build-image-gerrit-3.0: any of: ^.*$
  system-config-build-image-gerrit-master: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-2.13: any of: ^.*$
  system-config-upload-image-gerrit-2.15: any of: ^.*$
  system-config-upload-image-gerrit-2.16: any of: ^.*$
  system-config-upload-image-gerrit-3.0: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-2.13: any of: ^.*$
  system-config-promote-image-gerrit-2.15: any of: ^.*$
  system-config-promote-image-gerrit-2.16: any of: ^.*$
  system-config-promote-image-gerrit-3.0: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  legacy-tempest-dsvm-networking-onos: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-neutron-ipv6only: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-tempest-dsvm-neutron-serviceipv6: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^doc/.*$, ^neutron/locale/.*$, ^neutron/tests/unit/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-nfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-native: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-nfs-heketi: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-glusterfs-native-heketi: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-full-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-ovs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-puppet-midonet-puppet-unit-4.5-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-midonet-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  zuul-migrate: any of: zuul/mapping.yaml

Remove fedora-30 from nodepool launchers
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove fedora-30 from the nodepool builders
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move gerritlib jobs to in-repo config
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Complete retirement of x/osops-* repos
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Cleanup unneeded lines for os-loganalyze
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

need improvement
  README.rst
Due: test-release-openstack, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

infra-package-needs: add support for centos-8-stream
  nodepool/elements/infra-package-needs/post-install.d/80-enable-infra-services
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

CentOS 8 Stream initial deployment
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Review-Priority flag for cloudkitty
  gerrit/acls/openstack/cloudkitty-dashboard.config
  gerrit/acls/openstack/cloudkitty.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add semaphore to publish-openstack-releasenotes-python3
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Create acls for rpm-packaging-release group
  gerrit/acls/openstack/rpm-packaging.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update neutron stable grafana dashboards
  grafana/neutron-stable-minusone.yaml
  grafana/neutron-stable-minustwo.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add SNMP Armada App to StarlingX.
  gerrit/acls/starlingx/snmp-armada-app.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Mirror ironic charms to GitHub
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update neutron grafana dashboard
  grafana/neutron.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Disable limestone provider"
  nodepool/nl02.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Mirror charm-neutron-api-plugin-ironic to GitHub
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add manila client,ui,tempest plugin core teams
  gerrit/acls/openstack/manila-tempest-plugin.config
  gerrit/acls/openstack/manila-ui.config
  gerrit/acls/openstack/python-manilaclient.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Temporarily stop booting nodes in inap-mtl01
  nodepool/nl03.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove openstack/monasca-analytics
  gerrit/acls/openstack/monasca-analytics.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Use StoryBoard for sandbox repos
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Use internal address for RAX ORD
  zuul/site-variables.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add publish-to-pypi template to networking-l2gw
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix the internal rax mirror name
  zuul/site-variables.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Create telemetry group and include
  gerrit/acls/openstack/aodh.config
  gerrit/acls/openstack/ceilometer.config
  gerrit/acls/openstack/telemetry-specs.config
  gerrit/acls/openstack/telemetry.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Temporarily stop booting nodes in inap-mtl01"
  nodepool/nl03.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Disable OE, edge router is about to buy the farm
  nodepool/nl02.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add publish-to-pypi template to tap-as-a-service
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Replace old Victoria cycle signing key with Wallaby
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Use internal mirror for RAX IAD/DFW
  zuul/site-variables.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Revert "Temporarily stop booting nodes in inap-mtl01""
  nodepool/nl03.openstack.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

tox.ini : update Ansible pin
  tox.ini
Due: promote-openstack-releasenotes, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add pypa tenant
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add pypa/project-config
  gerrit/acls/pypa/project-config.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Create inspur/venus repository
  gerrit/acls/inspur/venus.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Run publish-openstack-artifacts on ubuntu-focal
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add pytest-dev/pytest-testinfra
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Rename testinfra project
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-2.13, system-config-build-image-gerrit-2.15, system-config-build-image-gerrit-2.16, system-config-build-image-gerrit-3.0, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-2.13, system-config-upload-image-gerrit-2.15, system-config-upload-image-gerrit-2.16, system-config-upload-image-gerrit-3.0, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-2.13, system-config-promote-image-gerrit-2.15, system-config-promote-image-gerrit-2.16, system-config-promote-image-gerrit-3.0, legacy-tempest-dsvm-networking-onos, legacy-tempest-dsvm-neutron-ipv6only, legacy-tempest-dsvm-neutron-serviceipv6, legacy-tempest-dsvm-nova-libvirt-kvm-apr, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-glusterfs-native-heketi, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src
