Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

project-config-check-main-yaml:
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

Don't load config from github projects
  zuul/main.yaml
Due: project-config-check-main-yaml

Add pep8 for contributor-guide
  zuul.d/projects.yaml
Due: none

Adding the #edge-computing-group channel to accessbot
  accessbot/channels.yaml
Due: none

Remove now in-tree liberasurecode jobs
  zuul.d/projects.yaml
Due: none

Add zuul-jobs for ubuntu-bionic
  zuul.d/projects.yaml
Due: none

Finalize removing requests-mock
  gerrit/acls/openstack/requests-mock.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Good bye jenkins/scripts
  nodepool/elements/nodepool-base/post-install.d/89-jenkins-scripts
  nodepool/scripts/afs-slug.sh
Due: openstack-tox-linters

Remove jenkins-slave element from DIB images
  nodepool/elements/nodepool-base/element-deps
  nodepool/elements/openstack-repos/install.d/95-chown-jenkins
  nodepool/elements/zuul-worker/install.d/60-zuul-worker
Due: none

Add trusted option to apt mirrors
  playbooks/base-test/pre.yaml
Due: none

Ensure that /home/zuul/scripts/ exist
  roles/copy-release-tools-scripts/tasks/main.yaml
Due: none

Remove jenkins dir from README.rst
  README.rst
Due: none

Remove legacy centos7, fedora27 & opensuse-423 jobs
  zuul.d/projects.yaml
Due: none

Make the task that remove the remote idempotent
  roles/use-cached-repos/tasks/main.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Fix rsync invocation
  roles/copy-release-tools-scripts/tasks/main.yaml
Due: none

Add #openstack-self-healing to gerritbot
  gerritbot/channels.yaml
Due: none

Add config_template repo base jobs
  zuul.d/projects.yaml
Due: none

Remove constantly failing rally jobs from Glance
  zuul.d/projects.yaml
Due: none

Zuul templates for new project python-tatuclient.
  zuul.d/projects.yaml
Due: none

Base: Add trusted option to apt mirrors
  playbooks/base/pre.yaml
Due: none

Retire 2 jenkins base ansible roles
  zuul.d/projects.yaml
Due: none

Use fetch-javascript-content-tarball role
  playbooks/javascript/publish.yaml
  zuul.d/jobs.yaml
Due: none

Bring wheel builder for ubuntu-bionic online
  zuul.d/jobs.yaml
Due: none

Fix typo with OpenStack in zuul jobs
  zuul.d/jobs.yaml
Due: none

Remove k8s-openstack-provider jobs for repo refresh.
  zuul.d/projects.yaml
Due: none

added swiftstack/ProxyFS project to zuul config to enable testing
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove legacy-tempest-dsvm-cells job usage
  zuul.d/projects.yaml
Due: none

Remove puppet-openstack-libraries-jobs jobs
  zuul.d/projects.yaml
Due: none

Bring publish-wheel-mirror-ubuntu-bionic job online
  playbooks/wheel/release.yaml
  zuul.d/projects.yaml
Due: none

Remove gitdm legacy jobs
  zuul.d/projects.yaml
Due: none

Retire ironic-inspector-tempest-plugin
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Bring wheel builder for ubuntu-xenial-arm64 online
  zuul.d/jobs.yaml
Due: none

Create new project for oslo.limit
  gerrit/acls/openstack/oslo.limit.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove converted cl-openstack-client job
  zuul.d/projects.yaml
Due: none

Setup Queens translation sync for tripleo-ui
  zuul.d/projects.yaml
Due: none

do not treat newton as closed to releases
  roles/copy-release-tools-scripts/files/release-tools/process_release_requests.py
Due: openstack-tox-linters

Remove cursive legacy jobs
  zuul.d/projects.yaml
Due: none

Remove castellan legacy jobs
  zuul.d/projects.yaml
Due: none

Add stable/queens to the periodc-stable pipelines for some projects
  zuul.d/projects.yaml
Due: none

Retire cue - Part 1
  zuul.d/projects.yaml
Due: none

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
