Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Revert "Disable ovh-gra1"
  nodepool/nl04.openstack.org.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Restore full OVH-GRA1 quota
  nodepool/nl04.openstack.org.yaml
Due: none

Remove fetch-tox-output from release-openstack-python
  playbooks/pti-python-tarball/post.yaml
Due: none

Update ansible library location to envsitepackagesdir
  setup.cfg
  setup.py
  tox.ini
Due: openstack-tox-linters

Stop installing nodepool in all the test envs
  test-requirements.txt
  tox.ini
Due: openstack-tox-linters

wheel-build : temporary pip with checksum output
  roles/build-wheels/files/wheel-build.sh
Due: openstack-tox-linters

Create blazar-specs repo
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Switch nodepool builders to zk cluster
  nodepool/nb03.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Switch nodepool launchers to use new zk cluster
  nodepool/nl01.openstack.org.yaml
  nodepool/nl02.openstack.org.yaml
  nodepool/nl03.openstack.org.yaml
  nodepool/nl04.openstack.org.yaml
Due: none

Add starlingx-docs-core group
  gerrit/acls/openstack/stx-docs.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Added template 'publish-to-pypi-python3' to Iotronic projects.
  zuul.d/projects.yaml
Due: none

Gerritbot: add zone-opendev.org to -infra
  gerritbot/channels.yaml
Due: none

Add release tag and remove python jobs for Apmec
  gerrit/acls/openstack/apmec.config
  zuul.d/projects.yaml
Due: none

New Airship project - Utils
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Move openstack-browbeat zuul jobs to project repository
  zuul.d/projects.yaml
Due: none

New Repo - OpenStack-Helm Images
  gerrit/acls/openstack/openstack-helm-images.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Disable inap-mtl01 provider
  nodepool/nl03.openstack.org.yaml
Due: none

New Repo: OpenStack-Helm Docs
  gerrit/acls/openstack/openstack-helm-docs.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove airship-armada jobs, as they are all in project
  zuul.d/projects.yaml
Due: none

Remove Fedora Job for Kata project
  zuul.d/projects.yaml
Due: none

Revert "Disable inap-mtl01 provider"
  nodepool/nl03.openstack.org.yaml
Due: none

Add publish to pypi jobs for gabbi-tempest
  zuul.d/projects.yaml
Due: none

Add noop to instack-undercloud
  zuul.d/projects.yaml
Due: none

Add noop to instack
  zuul.d/projects.yaml
Due: none

Fix instack release jobs
  zuul.d/projects.yaml
Due: none

Replace placement-api-ref jobs for nova project
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Fix tooltip for 'Horizon Failure Rate' dashboard
  grafana/horizon.yaml
Due: none

Add publish jobs for ansible-role-openstack-operations
  zuul.d/projects.yaml
Due: none

Fix instack jobs (again)
  zuul.d/projects.yaml
Due: none

Add StarlingX core groups
  gerrit/acls/openstack/stx-clients.config
  gerrit/acls/openstack/stx-config.config
  gerrit/acls/openstack/stx-distcloud-client.config
  gerrit/acls/openstack/stx-fault.config
  gerrit/acls/openstack/stx-gui.config
  gerrit/acls/openstack/stx-ha.config
  gerrit/acls/openstack/stx-integ.config
  gerrit/acls/openstack/stx-manifest.config
  gerrit/acls/openstack/stx-metal.config
  gerrit/acls/openstack/stx-nfv.config
  gerrit/acls/openstack/stx-root.config
  gerrit/acls/openstack/stx-tis-repo.config
  gerrit/acls/openstack/stx-tools.config
  gerrit/acls/openstack/stx-update.config
  gerrit/acls/openstack/stx-upstream.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add os_placement role to OpenStack-Ansible
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Move operations-guide translations to project-config
  zuul.d/projects.yaml
Due: none

Use python3 for release
  zuul.d/jobs.yaml
Due: none

Use publish-to-pypi everywhere
  zuul.d/projects.yaml
Due: none

Remove python3 release jobs
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

Add notifications to openstack-helm
  gerritbot/channels.yaml
Due: none
