Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

project-config-check-main-yaml:
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

Import ansible-role-redhat-subscription (Part 1)
  gerrit/acls/openstack/ansible-role-redhat-subscription.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add log-classify check and gate jobs
  zuul.d/projects.yaml
Due: none

Remove duplicate required-projects
  zuul.d/projects.yaml
Due: none

Import ansible-role-redhat-subscription (Part 2)
  gerritbot/channels.yaml
  zuul.d/projects.yaml
Due: none

Create zuul-ci.org zone repo (1/3)
  gerrit/projects.yaml
  gerritbot/channels.yaml
Due: project-config-check-main-yaml

Create zuul-ci.org zone repo (3/3)
  zuul.d/projects.yaml
Due: none

Create zuul-ci.org zone repo (2/3)
  zuul/main.yaml
Due: project-config-check-main-yaml

Add node requests graph to zuul dashboard
  grafana/zuul-status.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

networking-midonet: Remove some of legacy jobs
  zuul.d/projects.yaml
Due: none

add n8g-sfc as a required project for n8g-bagpipe
  zuul.d/projects.yaml
Due: none

ansible-role-rhsm: run openstack-tox-linters
  zuul.d/projects.yaml
Due: none

puppet-ceph: keep minimum jobs in project-config
  zuul.d/projects.yaml
Due: none

Grafana: reorder zuul graphs
  grafana/zuul-status.yaml
Due: none

Add requirements check to cinder-tempest-plugin repo
  zuul.d/projects.yaml
Due: none

remove duplicated jobs from cinder-tempest-plugin
  zuul.d/projects.yaml
Due: none

Add stable/jewel to IRC bot
  gerritbot/channels.yaml
Due: none

Add tarball job to ansible-role-rhsm
  zuul.d/projects.yaml
Due: none

publish sphinx-feature-class docs & use storyboard
  gerrit/projects.yaml
  zuul.d/projects.yaml
Due: project-config-check-main-yaml

Add accessbot for #openstack-vpnaas
  accessbot/channels.yaml
Due: none

Removing legacy jobs for networking-l2gw
  zuul.d/projects.yaml
Due: none

Disable Citycloud kna1
  nodepool/nl02.openstack.org.yaml
Due: none

Publish Zun-tempest-plugin's documentation
  zuul.d/projects.yaml
Due: none

Update designate-dashboard jobs to *-horizon
  zuul.d/projects.yaml
Due: none

Use native npm lint/test jobs
  zuul.d/projects.yaml
Due: none

Add all infra puppet modules to system-config queue
  zuul.d/projects.yaml
Due: none

Add missing job descriptions
  zuul.d/jobs.yaml
Due: none

Improve translation jobs
  jenkins/scripts/common_translation_update.sh
  jenkins/scripts/propose_translation_update.sh
Due: openstack-tox-linters

Improve zanata-cli download
  roles/prep-zanata/tasks/main.yaml
Due: none

Fix npm publishing
  jenkins/scripts/npm-tarball-upload.sh
  zuul.d/projects.yaml
Due: openstack-tox-linters

Remove some legacy nodejs storyboard-webclient jobs
  zuul.d/projects.yaml
Due: none

Create the "ara-web" project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Update ssh_known_hosts for eavesdrop.o.o
  zuul.d/secrets.yaml
Due: none

Added initial jobs for vitrage tempest plugin
  zuul.d/projects.yaml
Due: none

Add initial jobs for trove tempest plugin
  zuul.d/projects.yaml
Due: none

Add Zuul project layout for ara-web
  zuul.d/projects.yaml
Due: none

Adding jobs to new ec2api-tempest-plugin
  zuul.d/projects.yaml
Due: none

Use ensure-babel to make sure babel is installed
  jenkins/scripts/common_translation_update.sh
  jenkins/scripts/upstream_translation_update.sh
  playbooks/translation/pre.yaml
Due: openstack-tox-linters

Remove legacy draft job from storyboard-webclient
  zuul.d/projects.yaml
Due: none

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
