Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

project-config-check-main-yaml:
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

wheel-index: only create index once
  playbooks/publish/wheel-mirror.yaml
  roles/copy-wheels/tasks/main.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Remove jobs settings for monasca-notification
  zuul.d/projects.yaml
Due: none

Use $NF to get the last field from the wheel build log file
  roles/build-wheels/files/wheel-build.sh
Due: openstack-tox-linters

switch release job for networking-bgpvpn
  zuul.d/projects.yaml
Due: none

remove release job variants for networking-bgpvpn
  zuul.d/projects.yaml
Due: none

remove job settings for Release Management repositories
  zuul.d/projects.yaml
Due: none

remove job settings for InteropWG repositories
  zuul.d/projects.yaml
Due: none

Create an openstack/placement project
  gerrit/acls/openstack/placement.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Zuul: increase max-nodes-per-job
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove #openstack-product
  accessbot/channels.yaml
  gerritbot/channels.yaml
Due: none

Add development-proposals to spec index
  specs/specs.yaml
Due: none

Add openstack/placement as a repo on #openstack-placement
  gerritbot/channels.yaml
Due: none

Switch to tempest-multinode-full job
  zuul.d/projects.yaml
Due: none

remove job settings for Chef OpenStack repositories
  zuul.d/projects.yaml
Due: none

remove job settings for adjutant repositories
  zuul.d/projects.yaml
Due: none

remove job settings for Puppet OpenStack repositories
  zuul.d/projects.yaml
Due: none

remove job settings for cloudkitty repositories
  zuul.d/projects.yaml
Due: none

remove job settings for Packaging-rpm repositories
  zuul.d/projects.yaml
Due: none

Add stx-distcloud and stx-distcloud-client repos
  gerrit/acls/openstack/stx-distcloud.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Disable +r on #openstack-infra
  accessbot/channels.yaml
Due: none

Add Freezer to StoryBoard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Replace the old Rocky cycle signing key with Stein
  zuul.d/secrets.yaml
Due: none

Retire openstack-chef-repo (step 2)
  zuul.d/projects.yaml
Due: none

Switch unmodified readthedocs jobs to warning job
  zuul.d/projects.yaml
Due: none

Remove most job entries for microversion-parse
  zuul.d/projects.yaml
Due: none

Remove job settings for metalsmith
  zuul.d/projects.yaml
Due: none

skip collecting built artifacts in packaging test job
  zuul.d/jobs.yaml
Due: none

Add a group for kayobe projects
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add new project config for kayobe-config-dev
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Disable inap-mtl01 provider
  nodepool/nl03.openstack.org.yaml
Due: none

Retire puppet-odsreg (step 2)
  zuul.d/projects.yaml
Due: none

Retire puppet-odsreg (step 4)
  gerrit/acls/openstack-infra/puppet-odsreg.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove unused noop-jobs from stx
  zuul.d/projects.yaml
Due: none

Change neutron grafana dashboard to 2-column format
  grafana/neutron.yaml
Due: none

Stop requiring users be registered on openstack channels
  accessbot/channels.yaml
Due: none

Revert "Disable inap-mtl01 provider"
  nodepool/nl03.openstack.org.yaml
Due: none

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
