Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-15, project-config-bindep-fallback-ubuntu-xenial, openstacksdk-ansible-stable-2.6-functional-devstack, shade-ansible-stable-2.5-functional-devstack, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nameserver, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, infra-prod-service-zuul, infra-prod-run-accessbot, infra-prod-service-eavesdrop, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    twine_python: python3

promote-openstack-releasenotes:
  parent: opendev-promote-docs-base
  description: 'Promote the results of build-openstack-releasenotes to
  
    /afs/.openstack.org/docs/releasenotes/{{ zuul.project.short_name }}
  
    '
  final: true
  vars:
    download_artifact_job: build-openstack-releasenotes
  secrets:
  - secret: afsdocs_secret-releasenotes
  ...

check-release-approval:
  description: 'Checks that release requests were approved by PTL or release liaison.
  
  
    This job is specific to the openstack/releases repository.
  
    '
  allowed-projects:
  - openstack/releases
  required-projects:
  - name: openstack/governance
  run: playbooks/check-release-approval/run.yaml
  final: true
  ...

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-15:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 15.
  
    '
  nodeset: opensuse-15

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

openstacksdk-ansible-stable-2.6-functional-devstack:
  branches: stable-2.6

shade-ansible-stable-2.5-functional-devstack:
  branches: stable-2.5

system-config-build-image-gerrit-base:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-python-builder-3.7
    soft: true

system-config-build-image-gerrit-3.2:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-gerrit-base
    soft: true

system-config-build-image-gerrit-master:
  voting: false
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-gerrit-base
    soft: true

system-config-upload-image-gerrit-base:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-upload-image-python-builder-3.7
    soft: true

infra-prod-manage-projects:
  dependencies: []

Fix kolla panel for Grafana
  grafana/kolla.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix kolla panel for Grafana, part 2
  grafana/kolla.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

propose-updates: Run ensure-python for python 3.9
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire openstack/security-analysis (Step 1)
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire openstack/security-analysis (Step 3)
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-service-eavesdrop, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update kolla grafana panel
  grafana/kolla.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add KubeVirt app to StarlingX
  gerrit/acls/starlingx/app-kubevirt.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

add prometheanfire as op for #openstack-requirements channel
  accessbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-run-accessbot, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add py38/py39 jobs to Grafana
  grafana/neutron-dynamic-routing.yaml
  grafana/neutron-lib.yaml
  grafana/neutron.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Switch back translation-update jobs to install python3.8
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Use python3.8 venv in translation-update jobs
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update Neutron Grafana as per recent changes
  grafana/neutron-lib.yaml
  grafana/neutron-tempest-plugin.yaml
  grafana/neutron.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

neutron-tempest-plugin grafana update
  grafana/neutron-tempest-plugin.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

[proposal-updates] Run ensure-python before git-review setup
  playbooks/proposal/pre.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add github svinota/pyroute2 to project list
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Use virtualenv in translation update jobs
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Only install python3.8-venv in translation update jobs
  playbooks/proposal/pre.yaml
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

update Review-Priority label for nova related projects
  gerrit/acls/openstack/nova-specs.config
  gerrit/acls/openstack/nova.config
  gerrit/acls/openstack/os-vif.config
  gerrit/acls/openstack/placement.config
  gerrit/acls/openstack/python-novaclient.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Bump jeepyb gerrit image build job to 3.5
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Cinder IBM Storwize charm
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Setup #openinfra-envirosig IRC Channel
  accessbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-run-accessbot, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Cinder Dell EMC PowerStore charm
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

grafana: import graphs and take screenshots
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

End project gating for openstack-helm deployments
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Retire openstack-helm-deployments repo
  gerrit/acls/openstack/openstack-helm-deployments.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

project-config-grafana: add opendev-buildset-registry
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update openstack-ansible grafana dashboard
  grafana/openstack-ansible.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update openstack-ansible grafana dashboard job status rates
  grafana/openstack-ansible.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove windmill from zuul tenant config
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove x/neutron-classifier from Zuul tenant config
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

grafana: Add infra deployment overview
  grafana/bridge.yaml
  grafana/infra-prod-deployment.json
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

grafana: add helper script
  grafana/README.rst
  grafana/run-grafana.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

grafana: update nodepool-dib status page
  grafana/create-nodepool-dib.sh
  grafana/nodepool-dib-status.json
  grafana/nodepool-dib.base.template
  grafana/nodepool-dib.image.template
  grafana/nodepool-dib.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove x/ansible-role-shade from Zuul tenant config
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool elements: fix pip upgrade venv
  nodepool/elements/infra-package-needs/install.d/40-install-tox
  nodepool/elements/nodepool-base/install.d/91-venv-os-testr
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add ACL to allow collaboration with Trilio devs
  gerrit/acls/openstack/charm-trilio.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Switch default Ansible version to 5 in all tenants
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add a new openinfra/way project
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-15: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstacksdk-ansible-stable-2.6-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack_inventory.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  shade-ansible-stable-2.5-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-3.2: any of: ^.*$
  system-config-build-image-gerrit-master: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-3.2: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-3.2: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  infra-prod-service-zuul: any of: zuul/main.yaml
  infra-prod-run-accessbot: any of: accessbot/channels.yaml
  infra-prod-service-eavesdrop: any of: gerritbot/channels.yaml
  infra-prod-service-grafana: any of: grafana/
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-full-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-ovs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-puppet-midonet-puppet-unit-4.5-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-midonet-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  zuul-migrate: any of: zuul/mapping.yaml
