Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

project-config-check-main-yaml:
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

Remove ironic-tempest-dsvm-ipa-wholedisk-bios-agent_ipmitool-tinyipa for nova
  zuul.d/projects.yaml
Due: none

Add os-acc to openstack repo
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Revert "Add doc build job for Chef OpenStack"
  zuul.d/projects.yaml
Due: none

Stop running jobs for the release-tools repo
  zuul.d/projects.yaml
Due: none

Make vexxhost specific pool for kata flavors
  nodepool/nl03.openstack.org.yaml
Due: none

Add gerritbot to #openstack-service-broker IRC channel
  accessbot/channels.yaml
  gerritbot/channels.yaml
Due: none

Remove release-tools configuration
  gerrit/acls/openstack-infra/release-tools.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

drop pypy jobs from cliff
  zuul.d/projects.yaml
Due: none

Add py35 jobs to python-tempestconf
  zuul.d/projects.yaml
Due: none

Add StarlingX documentation repository
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add Zuul job for stx-docs
  zuul.d/projects.yaml
Due: none

Temporarily stop booting nodes in vexxhost
  nodepool/nl03.openstack.org.yaml
Due: none

Drop neutron-tempest-multinode-full job from Tempest
  zuul.d/projects.yaml
Due: none

Revert "Temporarily stop booting nodes in vexxhost"
  nodepool/nl03.openstack.org.yaml
Due: none

Publish Devstack docs for stable branch too
  zuul.d/projects.yaml
Due: none

Add executor used HDD metric to zuul-status dashboard
  grafana/zuul-status.yaml
Due: none

Allow heat-templates checking along with py35
  zuul.d/projects.yaml
Due: none

Set up os-acc repository
  zuul.d/projects.yaml
Due: none

Revert "Revert "Temporarily stop booting nodes in vexxhost""
  nodepool/nl03.openstack.org.yaml
Due: none

Add releasenote job to python-blazarclient
  zuul.d/projects.yaml
Due: none

Make monasca-api py35 job voting
  zuul.d/projects.yaml
Due: none

Revert "proposal: OSA: Do not sync tests/tests-repo-clone.sh anymore"
  playbooks/proposal/sync_openstack_ansible_common_files.sh
Due: openstack-tox-linters

Put StarlingX projects into a common gate queue
  zuul.d/projects.yaml
Due: none

proposal/OSA: Sync the contents of the sync folder
  playbooks/proposal/sync_openstack_ansible_common_files.sh
Due: openstack-tox-linters

remove restrictions on repos allowed to use publish-openstack-tox-docs
  zuul.d/jobs.yaml
Due: none

remove publish-openstack-sphinx-docs-python3 job
  zuul.d/jobs.yaml
Due: none

switch incorrect python3 docs job to correct one
  zuul.d/projects.yaml
Due: none

remove branch aware project settings for whereto
  zuul.d/projects.yaml
Due: none

switch whereto to use publish-to-pypi-python3
  zuul.d/projects.yaml
Due: none

Adding Ansible roles for TripleO
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

import networking-cisco jobs into net-cisco tree
  zuul.d/projects.yaml
Due: none

Remove sahara-extra legacy jobs, moving in-tree
  zuul.d/projects.yaml
Due: none

restore project settings for reno
  zuul.d/projects.yaml
Due: none

Set zuul_output_dir in site-variables
  zuul/site-variables.yaml
Due: none

Use ensure-output-dirs in base-test
  playbooks/base-test/pre.yaml
Due: none

Create airship-specs repo
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add Zuul jobs for Airship specs repo
  zuul.d/projects.yaml
Due: none

Enable publishing to pypi for neutron-tempest-plugin
  zuul.d/projects.yaml
Due: none

Add OpenStack operations Ansible role
  gerrit/acls/openstack/ansible-role-openstack-operations.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Set up translation for cloudkitty-dashboard
  gerrit/projects.yaml
  zuul.d/projects.yaml
Due: project-config-check-main-yaml

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
