Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add ansible-role-statsd project
  gerrit/acls/openstack/ansible-role-statsd.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add ansible-role-statsd zuul jobs
  zuul.d/projects.yaml
Due: none

Add release notes jobs to python-brick-cinderclient-ext
  zuul.d/projects.yaml
Due: none

Set up cyborg-specs repository
  zuul.d/projects.yaml
Due: none

Pause builds for dib 2.12.0
  nodepool/nodepool.yaml
Due: none

Unpause Centos 7 for dib 2.12.1
  nodepool/nodepool.yaml
Due: none

Unpause all builds for dib 2.12.1
  nodepool/nodepool.yaml
Due: none

Temporarily disable py35 jobs for trove-dashboard stable branches
  zuul.d/projects.yaml
Due: none

Remove python-brick-cinderclient-ext functional test
  zuul.d/projects.yaml
Due: none

Add publish-zuul-docs job
  playbooks/publish/zuul-afs.yaml
  zuul.d/zuul-jobs.yaml
Due: none

Publish zuul-jobs docs to zuul-ci.org
  zuul.d/projects.yaml
Due: none

Import python_venv_build ansible role
  gerrit/acls/openstack/ansible-role-python_venv_build.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add base jobs for python_venv_build ansible role
  zuul.d/projects.yaml
Due: none

Add limestone to nodepool builder and launcher configuration
  nodepool/nl02.openstack.org.yaml
  nodepool/nodepool.yaml
Due: none

Rename collectd-ceilometer-plugin and python-openstacksdk
  gerrit/acls/openstack/collectd-ceilometer-plugin.config
  gerrit/acls/openstack/collectd-openstack-plugins.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove redundant acl_config entry
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Enable storyboard for openstacksdk
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Enable storyboard for python-openstackclient
  gerrit/projects.yaml
Due: project-config-check-main-yaml

kolla-cli
  gerrit/acls/openstack/kolla-cli.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add Zuul project for kolla-cli
  zuul.d/projects.yaml
Due: none

Alias zuul git repos to git.zuul-ci.org
  gerrit/projects.yaml
  tools/check_valid_gerrit_projects.py
Due: project-config-check-main-yaml, openstack-tox-linters

Ironic to Storyboard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Migrate tripleo-ui to StoryBoard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Add tacker-horizon sphinx docs
  zuul.d/projects.yaml
Due: none

Set launch-timeout to 600 for OVH
  nodepool/nl04.openstack.org.yaml
Due: none

Add batch project update script
  tools/batch_update_projects.py
  tools/projectconfig_ruamellib.py
Due: openstack-tox-linters

Silence bashate
  roles/copy-proposal-common-scripts/files/common.sh
  roles/prep-zanata/files/common_translation_update.sh
  roles/prep-zanata/files/propose_translation_update.sh
  tools/check_valid_gerrit_config.sh
  tools/run-bashate.sh
Due: openstack-tox-linters

add python-cyborgclient to openstack repo
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Set up python-cyborgclient repository
  zuul.d/projects.yaml
Due: none

Add fixtures-git project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Copy initial jobs for fixtures-git from git-upstream
  zuul.d/projects.yaml
Due: none

Create the ara-server project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Create the ara-clients project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Create the ara-plugins project
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add basic Zuul layout for ara-clients, ara-plugins, ara-server
  zuul.d/projects.yaml
Due: none

Bump max-servers limestone nodepool provider to 10
  nodepool/nl02.openstack.org.yaml
Due: none

Add limestone to grafana.o.o
  grafana/nodepool-limestone.yaml
Due: none
