Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Fix typo with nodepool-limestone dashboard
  grafana/nodepool-limestone.yaml
Due: none

Remove final from publish-zuul-website
  zuul.d/zuul-jobs.yaml
Due: none

Revert "Bump max-servers limestone nodepool provider to 10"
  nodepool/nl02.openstack.org.yaml
Due: none

Re-enable Limestone at 10 nodes with custom labels
  nodepool/nl02.openstack.org.yaml
Due: none

Add missing custom label declaration for limestone nodepool config
  nodepool/nl02.openstack.org.yaml
Due: none

Test change to upload-logs
  playbooks/base-test/post-logs.yaml
  roles/test-upload-logs/README.rst
  roles/test-upload-logs/tasks/main.yaml
  roles/test-upload-logs/vars/main.yaml
Due: none

Move Cinder sheepdog job to experimental
  zuul.d/projects.yaml
Due: none

Remove limestone specific labels from nl02.o.o
  nodepool/nl02.openstack.org.yaml
Due: none

Enable limestone-regione for nodepool.o.o
  nodepool/nl02.openstack.org.yaml
Due: none

Retire puppet-ganesha(1/2)
  zuul.d/projects.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Retire puppet-ganesha(2/2)
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

proposal: OSA: Do not sync tests/tests-repo-clone.sh anymore
  playbooks/proposal/sync_openstack_ansible_common_files.sh
Due: openstack-tox-linters

Add Fullstack gate failure rate to neutron dashboard
  grafana/neutron.yaml
Due: none

Catch errors in release processing script
  roles/copy-release-tools-scripts/files/release-tools/process_release_requests.py
Due: openstack-tox-linters

improve error handling of clone_repo
  roles/copy-release-tools-scripts/files/release-tools/functions
Due: none

check out the series branch when tagging a release
  roles/copy-release-tools-scripts/files/release-tools/release.sh
Due: openstack-tox-linters

Add non-voting job nodepool-functional-py35-gentoo-src
  zuul.d/projects.yaml
Due: none

Create 'Review-Priority' for designate repos
  gerrit/acls/openstack/designate-dashboard.config
  gerrit/acls/openstack/designate-specs.config
  gerrit/acls/openstack/designate-tempest-plugin.config
  gerrit/acls/openstack/designate.config
  gerrit/acls/openstack/python-designateclient.config
  tools/normalize_acl.py
Due: openstack-tox-linters

remove the propose-update-requirements job
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: none

base-test: Gather network facts for all hosts in pre-run
  playbooks/base-test/pre.yaml
Due: none

base-test: use gather_subset: network for ansible 2.3
  playbooks/base-test/pre.yaml
Due: none

Promote base-test to bast for ipv6 DNS fixes
  playbooks/base-test/pre.yaml
  playbooks/base/pre.yaml
Due: none

Remove etcd version workaround for arm64
  nodepool/nb03.openstack.org.yaml
Due: none

tools/build_image.sh : add some arm64 notes
  tools/build-image.sh
Due: openstack-tox-linters

Fix ansible-lint job
  tox.ini
Due: openstack-tox-linters

make Gentoo use the systemd profile
  nodepool/nodepool.yaml
Due: none

Remove leftover stable/queens pre-release ACL
  gerrit/acls/openstack/openstacksdk.config
Due: none

Stop systemd-resolve from booting on our images
  nodepool/elements/nodepool-base/finalise.d/89-unbound
Due: none

Remove python job templates for storyboard
  zuul.d/projects.yaml
Due: none

Promote ara-report role and ARA middleware to base-[minimal,test]
  playbooks/base-minimal/post-logs.yaml
  zuul.d/jobs.yaml
Due: none

Promote new ara-report role and ARA middleware to base job
  playbooks/base/post-logs.yaml
  zuul.d/jobs.yaml
Due: none

Remove non-voting of nodejs-npm-run-lint job for zaqar-ui
  zuul.d/projects.yaml
Due: none

Remove non-voting of nodejs-npm-run-lint job for senlin-dashboard
  zuul.d/projects.yaml
Due: none

base-test: Validate test-emit-job-header work
  playbooks/base-test/pre.yaml
Due: none

Revert "base-test: Validate test-emit-job-header work"
  playbooks/base-test/pre.yaml
Due: none

Drop Limestone max-servers to 0
  nodepool/nl02.openstack.org.yaml
Due: none

[rally] Remove several redundant jobs
  zuul.d/projects.yaml
Due: none

Revert "Drop Limestone max-servers to 0"
  nodepool/nl02.openstack.org.yaml
Due: none

Use AFS mirrors to build ubuntu-bionic DIB
  nodepool/elements/nodepool-base/root.d/50-apt-allow-unauthenticated
  nodepool/nodepool.yaml
Due: none
