Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-centos-7, project-config-bindep-fallback-opensuse-15, project-config-bindep-fallback-ubuntu-xenial, openstacksdk-ansible-stable-2.6-functional-devstack, shade-ansible-stable-2.5-functional-devstack, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nameserver, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, infra-prod-service-zuul, infra-prod-run-accessbot, infra-prod-service-eavesdrop, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src, zuul-migrate

test-release-openstack:
  parent: base
  description: 'Test building python tarballs / wheels and the packaging metadata.
  
    '
  pre-run: playbooks/pti-python-tarball/pre.yaml
  run: playbooks/pti-python-tarball/check.yaml
  vars:
    release_python: python3
    twine_python: python3

promote-openstack-releasenotes:
  parent: opendev-promote-docs-base
  description: 'Promote the results of build-openstack-releasenotes to
  
    /afs/.openstack.org/docs/releasenotes/{{ zuul.project.short_name }}
  
    '
  final: true
  vars:
    download_artifact_job: build-openstack-releasenotes
  secrets:
  - secret: afsdocs_secret-releasenotes
  ...

check-release-approval:
  description: 'Checks that release requests were approved by PTL or release liaison.
  
  
    This job is specific to the openstack/releases repository.
  
    '
  allowed-projects:
  - openstack/releases
  required-projects:
  - name: openstack/governance
  run: playbooks/check-release-approval/run.yaml
  final: true
  ...

project-config-check-main-yaml:
  description: 'Check file zuul.d/main.yaml in project-config.
  
    '
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

project-config-bindep-fallback-centos-7:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for CentOS 7.
  
    '
  nodeset: centos-7

project-config-bindep-fallback-opensuse-15:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for openSUSE Leap 15.
  
    '
  nodeset: opensuse-15

project-config-bindep-fallback-ubuntu-xenial:
  parent: project-config-bindep-fallback
  description: 'Check installation of binary packages for file
  
    nodepool/elements/bindep-fallback.txt.
  
  
    The testing is done for Ubuntu Xenial.
  
    '
  nodeset: ubuntu-xenial

openstacksdk-ansible-stable-2.6-functional-devstack:
  branches: stable-2.6

shade-ansible-stable-2.5-functional-devstack:
  branches: stable-2.5

system-config-build-image-gerrit-base:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-python-builder-3.7
    soft: true

system-config-build-image-gerrit-3.2:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-gerrit-base
    soft: true

system-config-build-image-gerrit-master:
  voting: false
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-build-image-gerrit-base
    soft: true

system-config-upload-image-gerrit-base:
  dependencies:
  - name: opendev-buildset-registry
  - name: system-config-upload-image-python-builder-3.7
    soft: true

infra-prod-manage-projects:
  dependencies: []

Add OSUOSL resources to nodepool
  grafana/create-nodepool.sh
  grafana/nodepool-osuosl.yaml
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

OSU OSL : add diskimages to nb03
  nodepool/nb03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

OSU OSL : use correct flavor name
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix OSU OSL typo (again! this is so easy to turn around!)
  grafana/create-nodepool.sh
  grafana/nodepool-osuosl.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

nodepool: make ARM64 config names consistent
  nodepool/nb03.opendev.org.yaml
  nodepool/nl03.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Allow inheritFrom in Gerrit configs
  tools/normalize_acl.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

OpenStack release-test ACLs inherit meta-config
  gerrit/acls/openstack/release-test.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl
  gerrit/acls/openstack/cinder.config
  gerrit/acls/openstack/instack.config
  gerrit/acls/openstack/kolla-ansible.config
  gerrit/acls/openstack/kolla.config
  gerrit/acls/openstack/manila-ui.config
  gerrit/acls/openstack/manila.config
  gerrit/acls/openstack/octavia.config
  gerrit/acls/openstack/os-apply-config.config
  gerrit/acls/openstack/python-manilaclient.config
  gerrit/acls/openstack/sahara-dashboard.config
  gerrit/acls/openstack/sahara.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

ACL, allow merge for airship-release group
  gerrit/acls/airship/treasuremap.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Debian Bullseye nodepool images and wheels
  grafana/afs.yaml
  grafana/create-nodepool-dib.sh
  nodepool/nb03.opendev.org.yaml
  nodepool/nl01.opendev.org.yaml
  nodepool/nl02.opendev.org.yaml
  nodepool/nl03.opendev.org.yaml
  nodepool/nl04.opendev.org.yaml
  nodepool/nodepool.yaml
  playbooks/wheel/release.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Debian bullseye wheel cache publish jobs
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add ACL rule for deleting treasuremap branches
  gerrit/acls/airship/treasuremap.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Change cyborg project track to launchpad
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add InMotion cloud to nodepool
  grafana/create-nodepool.sh
  grafana/nodepool-inmotion.yaml
  nodepool/nl02.opendev.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove IRC bots from #ara
  accessbot/channels.yaml
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-run-accessbot, infra-prod-service-eavesdrop, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Make gerritbot linter know all the supported events
  tools/irc_tests.py
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Make gerritbot notify about V-2 on kolla
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-eavesdrop, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix nl02's provider config list
  nodepool/nl02.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add glance-tempest-plugin to publish-to-pypi job
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Limit grafana for zk to zk04-06
  grafana/zuul-status.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Adds r/stx.5.0 to the list of branches to promote for starlingx docs.
  zuul.d/starlingx-jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (2)
  gerrit/acls/openstack/puppet-modules.config
  gerrit/acls/openstack/tripleo.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (19)
  gerrit/acls/openstack/retired.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (3)
  gerrit/acls/openstack/puppet-aodh.config
  gerrit/acls/openstack/puppet-ceilometer.config
  gerrit/acls/openstack/puppet-cinder.config
  gerrit/acls/openstack/puppet-glance.config
  gerrit/acls/openstack/puppet-gnocchi.config
  gerrit/acls/openstack/puppet-ironic.config
  gerrit/acls/openstack/puppet-keystone.config
  gerrit/acls/openstack/puppet-neutron.config
  gerrit/acls/openstack/puppet-panko.config
  gerrit/acls/openstack/puppet-tripleo.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (4)
  gerrit/acls/openstack/openstack-ansible.config
  gerrit/acls/openstack/tripleo-ansible.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (17)
  gerrit/acls/openstack/rsd.config
  gerrit/acls/openstack/sahara-tests.config
  gerrit/acls/openstack/scientific-wg.config
  gerrit/acls/openstack/security-doc.config
  gerrit/acls/openstack/senlin-dashboard.config
  gerrit/acls/openstack/senlin.config
  gerrit/acls/openstack/service-types-authority.config
  gerrit/acls/openstack/solum-dashboard.config
  gerrit/acls/openstack/solum.config
  gerrit/acls/openstack/sphinx-feature-classification.config
  gerrit/acls/openstack/starlingx.config
  gerrit/acls/openstack/storlets.config
  gerrit/acls/openstack/sushy.config
  gerrit/acls/openstack/swift-bench.config
  gerrit/acls/openstack/swift.config
  gerrit/acls/openstack/synergy.config
  gerrit/acls/openstack/tacker-horizon.config
  gerrit/acls/openstack/tacker.config
  gerrit/acls/openstack/taskflow.config
  gerrit/acls/openstack/telemetry.config
  gerrit/acls/openstack/tenks.config
  gerrit/acls/openstack/tosca-parser.config
  gerrit/acls/openstack/training-labs.config
  gerrit/acls/openstack/uc-recognition.config
  gerrit/acls/openstack/ui-cookiecutter.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (18)
  gerrit/acls/openstack/upstream-institute-virtual-environment.config
  gerrit/acls/openstack/virtualbmc.config
  gerrit/acls/openstack/workload-ref-archs.config
  gerrit/acls/openstack/xstatic.config
  gerrit/acls/openstack/yaql.config
  gerrit/acls/openstack/zaqar-ui.config
  gerrit/acls/openstack/zaqar.config
  gerrit/acls/openstack/zun-ui.config
  gerrit/acls/openstack/zun.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (5)
  gerrit/acls/openstack/ansible-collections-openstack.config
  gerrit/acls/openstack/ansible-config_template.config
  gerrit/acls/openstack/ansible-role-container-registry.config
  gerrit/acls/openstack/ansible-role-python_venv_build.config
  gerrit/acls/openstack/ansible-role-qdrouterd.config
  gerrit/acls/openstack/ansible-role-redhat-subscription.config
  gerrit/acls/openstack/ansible-role-systemd_mount.config
  gerrit/acls/openstack/ansible-role-systemd_networkd.config
  gerrit/acls/openstack/ansible-role-systemd_service.config
  gerrit/acls/openstack/openstack-ansible-os_adjutant.config
  gerrit/acls/openstack/openstack-ansible-os_aodh.config
  gerrit/acls/openstack/openstack-ansible-os_blazar.config
  gerrit/acls/openstack/openstack-ansible-os_ceilometer.config
  gerrit/acls/openstack/openstack-ansible-os_cloudkitty.config
  gerrit/acls/openstack/openstack-ansible-os_congress.config
  gerrit/acls/openstack/openstack-ansible-os_designate.config
  gerrit/acls/openstack/openstack-ansible-os_gnocchi.config
  gerrit/acls/openstack/openstack-ansible-os_ironic.config
  gerrit/acls/openstack/openstack-ansible-os_karbor.config
  gerrit/acls/openstack/openstack-ansible-os_masakari.config
  gerrit/acls/openstack/openstack-ansible-os_neutron.config
  gerrit/acls/openstack/openstack-ansible-os_octavia.config
  gerrit/acls/openstack/openstack-ansible-os_panko.config
  gerrit/acls/openstack/openstack-ansible-os_sahara.config
  gerrit/acls/openstack/openstack-ansible-os_senlin.config
  gerrit/acls/openstack/openstack-ansible-os_swift.config
  gerrit/acls/openstack/openstack-ansible-os_tacker.config
  gerrit/acls/openstack/openstack-ansible-os_trove.config
  gerrit/acls/openstack/openstack-ansible-os_zun.config
  gerrit/acls/openstack/openstack-ansible-sig.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (6)
  gerrit/acls/openstack/cinder-tempest-plugin.config
  gerrit/acls/openstack/designate-tempest-plugin.config
  gerrit/acls/openstack/devstack-gate.config
  gerrit/acls/openstack/devstack-plugin-ceph.config
  gerrit/acls/openstack/devstack-plugin-container.config
  gerrit/acls/openstack/devstack-plugin-nfs.config
  gerrit/acls/openstack/devstack-plugin-open-cas.config
  gerrit/acls/openstack/devstack-vagrant.config
  gerrit/acls/openstack/devstack.config
  gerrit/acls/openstack/freezer-tempest-plugin.config
  gerrit/acls/openstack/glance-tempest-plugin.config
  gerrit/acls/openstack/grenade.config
  gerrit/acls/openstack/kuryr-tempest-plugin.config
  gerrit/acls/openstack/manila-tempest-plugin.config
  gerrit/acls/openstack/octavia-tempest-plugin.config
  gerrit/acls/openstack/oswin-tempest-plugin.config
  gerrit/acls/openstack/tempest-stress.config
  gerrit/acls/openstack/tempest.config
  gerrit/acls/openstack/whitebox-tempest-plugin.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (7)
  gerrit/acls/openstack/glance-specs.config
  gerrit/acls/openstack/glance.config
  gerrit/acls/openstack/glance_store.config
  gerrit/acls/openstack/networking-bagpipe.config
  gerrit/acls/openstack/networking-bgpvpn.config
  gerrit/acls/openstack/networking-generic-switch.config
  gerrit/acls/openstack/networking-hyperv.config
  gerrit/acls/openstack/networking-midonet.config
  gerrit/acls/openstack/networking-odl.config
  gerrit/acls/openstack/networking-onos.config
  gerrit/acls/openstack/networking-ovn.config
  gerrit/acls/openstack/networking-powervm.config
  gerrit/acls/openstack/networking-sfc.config
  gerrit/acls/openstack/neutron-dynamic-routing.config
  gerrit/acls/openstack/neutron-fwaas-dashboard.config
  gerrit/acls/openstack/neutron-fwaas.config
  gerrit/acls/openstack/neutron-lbaas-dashboard.config
  gerrit/acls/openstack/neutron-lbaas.config
  gerrit/acls/openstack/neutron-lib.config
  gerrit/acls/openstack/neutron-specs.config
  gerrit/acls/openstack/neutron-vpnaas-dashboard.config
  gerrit/acls/openstack/neutron-vpnaas.config
  gerrit/acls/openstack/neutron.config
  gerrit/acls/openstack/nova-powervm.config
  gerrit/acls/openstack/nova-specs.config
  gerrit/acls/openstack/nova.config
  gerrit/acls/openstack/python-neutronclient.config
  gerrit/acls/openstack/python-novaclient.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (8)
  gerrit/acls/openstack/openstack-puppet.config
  gerrit/acls/openstack/puppet-ceph.config
  gerrit/acls/openstack/puppet-monasca.config
  gerrit/acls/openstack/puppet-openstack-integration.config
  gerrit/acls/openstack/puppet-pacemaker.config
  gerrit/acls/openstack/tripleo-ci-shared-core.config
  gerrit/acls/openstack/tripleo-ci.config
  gerrit/acls/openstack/tripleo-ha-utils.config
  gerrit/acls/openstack/tripleo-quickstart.config
  gerrit/acls/openstack/tripleo-specs.config
  gerrit/acls/openstack/tripleo-upgrade.config
  gerrit/acls/openstack/trove-dashboard.config
  gerrit/acls/openstack/trove-specs.config
  gerrit/acls/openstack/trove.config
  gerrit/acls/openstack/vitrage-dashboard-xstatic.config
  gerrit/acls/openstack/vitrage-dashboard.config
  gerrit/acls/openstack/vitrage.config
  gerrit/acls/openstack/watcher-dashboard.config
  gerrit/acls/openstack/watcher-specs.config
  gerrit/acls/openstack/watcher.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (9)
  gerrit/acls/openstack/oslo-independent.config
  gerrit/acls/openstack/oslo.cache.config
  gerrit/acls/openstack/oslo.concurrency.config
  gerrit/acls/openstack/oslo.config
  gerrit/acls/openstack/oslo.db.config
  gerrit/acls/openstack/oslo.i18n.config
  gerrit/acls/openstack/oslo.limit.config
  gerrit/acls/openstack/oslo.messaging.config
  gerrit/acls/openstack/oslo.metrics.config
  gerrit/acls/openstack/oslo.middleware.config
  gerrit/acls/openstack/oslo.policy.config
  gerrit/acls/openstack/oslo.privsep.config
  gerrit/acls/openstack/oslo.reports.config
  gerrit/acls/openstack/oslo.rootwrap.config
  gerrit/acls/openstack/oslo.service.config
  gerrit/acls/openstack/oslo.tools.config
  gerrit/acls/openstack/oslo.upgradecheck.config
  gerrit/acls/openstack/oslo.versionedobjects.config
  gerrit/acls/openstack/oslo.vmware.config
  gerrit/acls/openstack/reno.config
  gerrit/acls/openstack/stevedore.config
  gerrit/acls/openstack/tooz.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (10)
  gerrit/acls/openstack/api-sig.config
  gerrit/acls/openstack/api-site.config
  gerrit/acls/openstack/auto-scaling-sig.config
  gerrit/acls/openstack/barbican-specs.config
  gerrit/acls/openstack/bugdaystats.config
  gerrit/acls/openstack/cinder-specs.config
  gerrit/acls/openstack/contributor-guide.config
  gerrit/acls/openstack/designate-specs.config
  gerrit/acls/openstack/ironic-specs.config
  gerrit/acls/openstack/keystone-specs.config
  gerrit/acls/openstack/multi-arch-sig.config
  gerrit/acls/openstack/murano-specs.config
  gerrit/acls/openstack/openstack-specs.config
  gerrit/acls/openstack/operations-guide.config
  gerrit/acls/openstack/project-team-guide.config
  gerrit/acls/openstack/publiccloud-sig.config
  gerrit/acls/openstack/qa-specs.config
  gerrit/acls/openstack/sahara-specs.config
  gerrit/acls/openstack/security-specs.config
  gerrit/acls/openstack/self-healing-sig.config
  gerrit/acls/openstack/stackviz.config
  gerrit/acls/openstack/tacker-specs.config
  gerrit/acls/openstack/training-guides.config
  gerrit/acls/openstack/zaqar-specs.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (11)
  gerrit/acls/openstack/charm-plumgrid.config
  gerrit/acls/openstack/charm-vault.config
  gerrit/acls/openstack/charm.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (12)
  gerrit/acls/openstack/adjutant.config
  gerrit/acls/openstack/arch-wg.config
  gerrit/acls/openstack/automaton.config
  gerrit/acls/openstack/barbican.config
  gerrit/acls/openstack/bashate.config
  gerrit/acls/openstack/bifrost.config
  gerrit/acls/openstack/blazar.config
  gerrit/acls/openstack/castellan.config
  gerrit/acls/openstack/ceilometer-powervm.config
  gerrit/acls/openstack/cliff.config
  gerrit/acls/openstack/cloudkitty-dashboard.config
  gerrit/acls/openstack/cloudkitty.config
  gerrit/acls/openstack/compass.config
  gerrit/acls/openstack/compute-hyperv.config
  gerrit/acls/openstack/constellations.config
  gerrit/acls/openstack/cookiecutter.config
  gerrit/acls/openstack/coverage2sql.config
  gerrit/acls/openstack/cyborg.config
  gerrit/acls/openstack/debtcollector.config
  gerrit/acls/openstack/designate-dashboard.config
  gerrit/acls/openstack/designate.config
  gerrit/acls/openstack/diskimage-builder.config
  gerrit/acls/openstack/django_openstack_auth.config
  gerrit/acls/openstack/ec2-api.config
  gerrit/acls/openstack/election.config
  gerrit/acls/openstack/enterprise-wg.config
  gerrit/acls/openstack/eslint-config-openstack.config
  gerrit/acls/openstack/etcd3gw.config
  gerrit/acls/openstack/freezer.config
  gerrit/acls/openstack/futurist.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (13)
  gerrit/acls/openstack/goal-tools.config
  gerrit/acls/openstack/governance-uc.config
  gerrit/acls/openstack/governance.config
  gerrit/acls/openstack/gozer.config
  gerrit/acls/openstack/hacking.config
  gerrit/acls/openstack/heat-cfntools.config
  gerrit/acls/openstack/heat-dashboard.config
  gerrit/acls/openstack/heat-translator.config
  gerrit/acls/openstack/heat.config
  gerrit/acls/openstack/horizon.config
  gerrit/acls/openstack/i18n.config
  gerrit/acls/openstack/ideas.config
  gerrit/acls/openstack/ironic-inspector.config
  gerrit/acls/openstack/ironic-ui.config
  gerrit/acls/openstack/ironic.config
  gerrit/acls/openstack/js-openstack-lib.config
  gerrit/acls/openstack/karma-subunit-reporter.config
  gerrit/acls/openstack/kayobe.config
  gerrit/acls/openstack/keystone.config
  gerrit/acls/openstack/keystoneauth.config
  gerrit/acls/openstack/kolla-cli.config
  gerrit/acls/openstack/kuryr-kubernetes.config
  gerrit/acls/openstack/kuryr-libnetwork.config
  gerrit/acls/openstack/kuryr.config
  gerrit/acls/openstack/ldappool.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (14)
  gerrit/acls/openstack/liberasurecode.config
  gerrit/acls/openstack/loci.config
  gerrit/acls/openstack/logstash-filters.config
  gerrit/acls/openstack/magnum-ui.config
  gerrit/acls/openstack/magnum.config
  gerrit/acls/openstack/manila-test-image.config
  gerrit/acls/openstack/masakari-dashboard.config
  gerrit/acls/openstack/masakari.config
  gerrit/acls/openstack/metalsmith.config
  gerrit/acls/openstack/microversion-parse.config
  gerrit/acls/openstack/mistral-lib.config
  gerrit/acls/openstack/mistral.config
  gerrit/acls/openstack/molteniron.config
  gerrit/acls/openstack/monasca-ui.config
  gerrit/acls/openstack/monasca.config
  gerrit/acls/openstack/murano-apps.config
  gerrit/acls/openstack/murano-dashboard.config
  gerrit/acls/openstack/murano.config
  gerrit/acls/openstack/nose-html-output.config
  gerrit/acls/openstack/octavia-dashboard.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (15)
  gerrit/acls/openstack/octavia-lib.config
  gerrit/acls/openstack/openstack-chef.config
  gerrit/acls/openstack/openstack-health.config
  gerrit/acls/openstack/openstack-helm-addons.config
  gerrit/acls/openstack/openstack-helm-deployments.config
  gerrit/acls/openstack/openstack-helm-docs.config
  gerrit/acls/openstack/openstack-helm-images.config
  gerrit/acls/openstack/openstack-helm-infra.config
  gerrit/acls/openstack/openstack-helm.config
  gerrit/acls/openstack/openstack-manuals.config
  gerrit/acls/openstack/openstack-nose.config
  gerrit/acls/openstack/openstack-planet.config
  gerrit/acls/openstack/openstack-virtual-baremetal.config
  gerrit/acls/openstack/openstack-zuul-jobs.config
  gerrit/acls/openstack/openstack-zuul-roles.config
  gerrit/acls/openstack/openstack.config
  gerrit/acls/openstack/openstacksdk.config
  gerrit/acls/openstack/ops-tags-team.config
  gerrit/acls/openstack/os-api-ref.config
  gerrit/acls/openstack/os-performance-tools.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Adds docs_branch_path value needed for promoting release branches.
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move projects under meta-config acl (16)
  gerrit/acls/openstack/os-service-types.config
  gerrit/acls/openstack/os-testr.config
  gerrit/acls/openstack/os-vif.config
  gerrit/acls/openstack/os-win.config
  gerrit/acls/openstack/osops.config
  gerrit/acls/openstack/osprofiler.config
  gerrit/acls/openstack/ossa.config
  gerrit/acls/openstack/ovn-octavia-provider.config
  gerrit/acls/openstack/ovsdbapp.config
  gerrit/acls/openstack/patrole.config
  gerrit/acls/openstack/pbr.config
  gerrit/acls/openstack/performance-docs.config
  gerrit/acls/openstack/placement.config
  gerrit/acls/openstack/project-navigator-data.config
  gerrit/acls/openstack/ptgbot.config
  gerrit/acls/openstack/pycadf.config
  gerrit/acls/openstack/python-barbicanclient.config
  gerrit/acls/openstack/python-designateclient.config
  gerrit/acls/openstack/python-dracclient.config
  gerrit/acls/openstack/python-keystoneclient.config
  gerrit/acls/openstack/python-octaviaclient.config
  gerrit/acls/openstack/python-openstackclient.config
  gerrit/acls/openstack/python-swiftclient.config
  gerrit/acls/openstack/python-zaqarclient.config
  gerrit/acls/openstack/rally-openstack.config
  gerrit/acls/openstack/rally.config
  gerrit/acls/openstack/rbd-iscsi-client.config
  gerrit/acls/openstack/releases.config
  gerrit/acls/openstack/requestsexceptions.config
  gerrit/acls/openstack/requirements.config
  gerrit/acls/openstack/reviewday.config
  gerrit/acls/openstack/reviewstats.config
  gerrit/acls/openstack/rpm-packaging.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-centos-7: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-opensuse-15: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstacksdk-ansible-stable-2.6-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack_inventory.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  shade-ansible-stable-2.5-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-3.2: any of: ^.*$
  system-config-build-image-gerrit-master: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-3.2: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-3.2: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  infra-prod-service-zuul: any of: zuul/main.yaml
  infra-prod-run-accessbot: any of: accessbot/channels.yaml
  infra-prod-service-eavesdrop: any of: gerritbot/channels.yaml
  infra-prod-service-grafana: any of: grafana/
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-full-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-ovs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-puppet-midonet-puppet-unit-4.5-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-midonet-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  zuul-migrate: any of: zuul/mapping.yaml
