Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

project-config-check-main-yaml:
  pre-run: playbooks/check-main-yaml/pre.yaml
  run: playbooks/project-config/run-tox.yaml
  post-run: playbooks/check-main-yaml/post.yaml
  allowed-projects:
  - openstack-infra/project-config
  final: true
  vars:
    tox_envlist: add-projects-to-main

fix api-wg/sig project settings
  zuul.d/projects.yaml
Due: none

Check for empty project entries
  tools/zuul-projects-checks.py
Due: openstack-tox-linters

Adding tobiko to the project list
  gerrit/acls/openstack/tobiko.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

accessbot config: refactor
  accessbot/channels.yaml
Due: none

Setup two additional translation jobs for Rocky
  zuul.d/projects.yaml
Due: none

Enforce Py3 for `charm-glance`
  zuul.d/projects.yaml
Due: none

Add #oooq channel to accesslist
  accessbot/channels.yaml
Due: none

Import eol_branch.sh
  roles/copy-release-tools-scripts/files/release-tools/eol_branch.sh
Due: openstack-tox-linters

Remove eol tagging from eol_branch.sh
  roles/copy-release-tools-scripts/files/release-tools/eol_branch.sh
Due: openstack-tox-linters

Add Tripleo Ansible repo
  gerrit/acls/openstack/ansible-role-openstack-operations.config
  gerrit/acls/openstack/tripleo-ansible.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add compile bindep profile to publish-zuul-docs
  playbooks/sphinx/pre.yaml
Due: none

Follow wip-upload-swift rename
  playbooks/base-test/post-logs-swift.yaml
Due: none

devstack-plugin-kafka tests moved to project repo
  zuul.d/projects.yaml
Due: none

Add neutron-fullstack-python35 job to Neutron dashboard
  grafana/neutron.yaml
Due: none

Add openstack-manuals to periodic pipeline
  zuul.d/projects.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Gerritbot: Enable notifications for openstack/openstack-chef
  gerritbot/channels.yaml
Due: none

Fix rocky-3 ACLs (performance-docs)
  gerrit/acls/openstack/performance-docs.config
Due: none

Revert "Add openstack-manuals to periodic pipeline"
  zuul.d/projects.yaml
Due: none

[n-odl] Make the Y axis display correctly
  grafana/networking-odl.yaml
Due: none

Remove Networking-ODL fullstack from grafana
  grafana/networking-odl.yaml
Due: none

Use log-inventory in base jobs
  playbooks/base-minimal/pre.yaml
  playbooks/base/pre.yaml
Due: none

Add release jobs to ansible-role-tripleo-*
  gerritbot/channels.yaml
  zuul.d/projects.yaml
Due: none

Add readthedocs web hooks for powervm
  zuul.d/projects.yaml
Due: none

New Airship project - Treasuremap
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Bump ansible for linters
  tox.ini
Due: openstack-tox-linters

linters: Take a guess at the roles path
  tox.ini
Due: openstack-tox-linters

Switch to publish-openstack-docs-pti for cyborg
  zuul.d/projects.yaml
Due: none

Use new translation jobs templates
  zuul.d/projects.yaml
Due: none

Update horizon grafana
  grafana/horizon.yaml
Due: none

Move openstack-zuul-jobs completely in-repo
  zuul.d/projects.yaml
Due: none

Revert "Make monasca-api py35 job voting"
  zuul.d/projects.yaml
Due: none

Use translation-jobs-master-only
  zuul.d/projects.yaml
Due: none

Use translations-jobs-master-stable
  zuul.d/projects.yaml
Due: none

drop python 3.5 jobs from oslo.service
  zuul.d/projects.yaml
Due: none

Setup missing translation jobs for neutron-lbaas-dashboard
  zuul.d/projects.yaml
Due: none

Clean Neutron failure rates Grafana dashboard
  grafana/neutron.yaml
Due: none

Add graphs with overall number of jobs run
  grafana/neutron.yaml
Due: none

Translation cleanup
  zuul.d/projects.yaml
Due: none

Set fedora-27 min-ready to 0
  nodepool/nl01.openstack.org.yaml
Due: none

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml
