Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: test-release-openstack, promote-openstack-releasenotes, check-release-approval, project-config-check-main-yaml, project-config-bindep-fallback-ubuntu-xenial, openstacksdk-ansible-stable-2.6-functional-devstack, shade-ansible-stable-2.5-functional-devstack, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nameserver, build-openstack-specs-site, project-config-infra-docs-index, promote-infra-index, promote-openstack-specs-site, infra-prod-manage-projects, infra-prod-service-nodepool, infra-prod-service-zuul, infra-prod-run-accessbot, infra-prod-service-eavesdrop, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src, zuul-migrate

Path conditions:
  test-release-openstack: any of: setup.cfg, setup.py, README.rst
  promote-openstack-releasenotes: any of: ^releasenotes/.*, bindep.txt, doc/requirements.txt, test-requirements.txt, tox.ini
  check-release-approval: any of: ^deliverables/.*$
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  project-config-bindep-fallback-ubuntu-xenial: any of: nodepool/elements/bindep-fallback.txt, playbooks/bindep-fallback/run.yaml
  openstacksdk-ansible-stable-2.6-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack_inventory.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  shade-ansible-stable-2.5-functional-devstack: any of: ^lib/ansible/modules/cloud/openstack/.*, ^contrib/inventory/openstack.py, ^lib/ansible/plugins/inventory/openstack.py, ^lib/ansible/module_utils/openstack.py, ^lib/ansible/utils/module_docs_fragments/openstack.py
  system-config-build-image-gerrit-base: any of: ^.*$
  system-config-build-image-gerrit-3.2: any of: ^.*$
  system-config-build-image-gerrit-master: any of: ^.*$
  system-config-upload-image-gerrit-base: any of: ^.*$
  system-config-upload-image-gerrit-3.2: any of: ^.*$
  system-config-promote-image-gerrit-base: any of: ^.*$
  system-config-promote-image-gerrit-3.2: any of: ^.*$
  infra-prod-service-nameserver: any of: zones/.*
  build-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  project-config-infra-docs-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-infra-index: any of: bindep.txt, docs-site/.*, other-requirements.txt, tox.ini
  promote-openstack-specs-site: any of: bindep.txt, specs/.*, other-requirements.txt, tox.ini
  infra-prod-manage-projects: any of: gerrit/.*
  infra-prod-service-nodepool: any of: nodepool/.*
  infra-prod-service-zuul: any of: zuul/main.yaml
  infra-prod-run-accessbot: any of: accessbot/channels.yaml
  infra-prod-service-eavesdrop: any of: gerritbot/channels.yaml
  infra-prod-service-grafana: any of: grafana/
  legacy-tempest-dsvm-nova-libvirt-kvm-apr: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-full-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-ovs: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-tempest-dsvm-lxd-linuxbridge: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  legacy-puppet-midonet-puppet-unit-4.5-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-puppet-midonet-puppet-unit-latest-centos-7: unless all of: ^.*\.md$, ^.*\.rst$, ^doc/.*$, ^etc/.*$, ^metadata.json$, ^releasenotes/.*$, ^test-requirements.txt$
  legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
  zuul-migrate: any of: zuul/mapping.yaml

Set raxflex max-servers to 0
  nodepool/nl01.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Set raxflex max-servers to 0"
  nodepool/nl01.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Proposed new Ironic core structure
  gerrit/acls/openstack/ironic-inspector.config
  gerrit/acls/openstack/ironic-specs.config
  gerrit/acls/openstack/ironic-ui.config
  gerrit/acls/openstack/ironic.config
  gerrit/acls/openstack/metalsmith.config
  gerrit/acls/openstack/networking-generic-switch.config
  gerrit/acls/openstack/sushy-oem-idrac.config
  gerrit/acls/openstack/sushy.config
  gerrit/acls/openstack/virtualbmc.config
  gerrit/acls/openstack/virtualpdu.config
  gerrit/projects.yaml
  tools/normalize_acl.py
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

[neutron-dashboard] drop enforce-scope-old-defaults
  grafana/neutron-tempest-plugin.yaml
  grafana/neutron.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-grafana, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Repair promote-openstack-manuals-developer
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Use 2024.2 constraints translation jobs
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add separate acl group for watcher-tempest-plugin
  gerrit/acls/openstack/watcher-tempest.config
  gerrit/projects.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Use 2024.2 constraints in master translation jobs
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix openstack developer docs promote job
  zuul.d/secrets.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update more ironic project ACLs for editHashtags
  gerrit/acls/openstack/bifrost.config
  gerrit/acls/openstack/tenks.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add repo app-openbao for starlingx
  gerrit/acls/starlingx/app-openbao.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Disable raxflex cloud
  nodepool/nl01.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

End gating for Murano/Senlin/Sahara OSA roles
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove Murano/Senlin/Sahara OSA roles from infra
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add repository for OSA's httpd role
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-service-eavesdrop, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Zuul jobs for ansible-role-httpd project
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add Zuul jobs for frrouting role
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Disable raxflex cloud"
  nodepool/nl01.opendev.org.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Disable docker hub mirror use in jobs
  zuul/site-variables.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

update watcher repos to use -release group for stable branch
  gerrit/acls/openstack/watcher-dashboard.config
  gerrit/acls/openstack/watcher.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update Neutron channel projects
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-eavesdrop, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Move test-release-openstack job to Noble
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Revert "Move test-release-openstack job to Noble"
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix release name in Launchpad comment
  roles/copy-release-tools-scripts/files/release-tools/release.sh
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Update jeepyb triggered Gerrit builds to Gerrit 3.10
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add openstack-k8s-operators/sg-core to zuul repos
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Pause openEuler-22-03-LTS image builds
  nodepool/nb04.opendev.org.yaml
  nodepool/nodepool.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-nodepool, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Authorize packstack-release to delete
  gerrit/acls/x/packstack.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

End gating for Freezer DR project
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Run periodic wheel cache publishing only on master
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove infrawatch/sg-core from zuul repos
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add refs/tags/* acls for openstack-helm projects
  gerrit/acls/openstack/openstack-helm-images.config
  gerrit/acls/openstack/openstack-helm-infra.config
  gerrit/acls/openstack/openstack-helm-plugin.config
  gerrit/acls/openstack/openstack-helm.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

End gating for qdrouterd role
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove qdrouterd role from the config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-service-eavesdrop, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Fix release ACL for whitebox-tempest-plugin
  gerrit/acls/openstack/whitebox-tempest-plugin.config
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

oslo: Remove irc notification from oslo-incubator
  gerritbot/channels.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-service-eavesdrop, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Remove taas-tempest-plugin and taas-dashboard jobs
  gerrit/acls/x/tap-as-a-service.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Deprecate ironic-lib
  zuul.d/projects.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Use ubuntu-noble for test-release-openstack
  zuul.d/jobs.yaml
Due: system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src

Add repository for devstack-plugin-prometheus
  gerrit/acls/openstack/devstack-plugin-prometheus.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml, system-config-build-image-gerrit-base, system-config-build-image-gerrit-3.2, system-config-build-image-gerrit-master, system-config-upload-image-gerrit-base, system-config-upload-image-gerrit-3.2, system-config-promote-image-gerrit-base, system-config-promote-image-gerrit-3.2, infra-prod-manage-projects, infra-prod-service-zuul, infra-prod-service-eavesdrop, legacy-tempest-dsvm-nova-libvirt-kvm-apr, legacy-tempest-dsvm-full-hdfs, manila-tempest-dsvm-hdfs, legacy-tempest-dsvm-lxd-ovs, legacy-tempest-dsvm-lxd-linuxbridge, legacy-puppet-midonet-puppet-unit-4.5-centos-7, legacy-puppet-midonet-puppet-unit-latest-centos-7, legacy-tempest-dsvm-ironic-pxe_snmp-virtualpdu-src
