Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Just use chmod instead of file for log permissions
  roles/test-upload-logs/tasks/main.yaml
Due: none

Extend Cinder pylint timeout
  zuul.d/projects.yaml
Due: none

Bump capacity at VEXXHOST
  nodepool/nl03.openstack.org.yaml
Due: none

nodepool grafana : remove job runtimes
  grafana/nodepool-citycloud.yaml
  grafana/nodepool-inap.yaml
  grafana/nodepool-limestone.yaml
  grafana/nodepool-linaro.yaml
  grafana/nodepool-ovh.yaml
  grafana/nodepool-packethost.yaml
  grafana/nodepool-rax-experimental.yaml
  grafana/nodepool-rax.yaml
  grafana/nodepool-vexxhost.yaml
Due: none

Add packethost grafana graphs
  grafana/nodepool-packethost.yaml
Due: none

Bump packethost nodes to 95
  nodepool/nl02.openstack.org.yaml
Due: none

New Fenix project
  accessbot/channels.yaml
  gerrit/acls/openstack/fenix.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add Vitrage to StoryBoard
  gerrit/projects.yaml
Due: project-config-check-main-yaml

Bump packethost max servers to 100
  nodepool/nl02.openstack.org.yaml
Due: none

Remove legacy rally jobs
  zuul.d/projects.yaml
Due: none

add access bot to #openstack-mentoring
  accessbot/channels.yaml
Due: none

use python3 to run launchpad commenting script
  roles/copy-release-tools-scripts/files/release-tools/release.sh
Due: openstack-tox-linters

Add fedora vexxhost flavor for Kata
  nodepool/nl03.openstack.org.yaml
Due: none

Consolidate nodepool graphs
  grafana/create-nodepool.sh
  grafana/nodepool-citycloud.yaml
  grafana/nodepool-inap.yaml
  grafana/nodepool-linaro.yaml
  grafana/nodepool-ovh.yaml
  grafana/nodepool-packethost.yaml
  grafana/nodepool-rax-experimental.yaml
  grafana/nodepool-rax.yaml
  grafana/nodepool-vexxhost.yaml
  grafana/nodepool.template
  grafana/nodepool.yaml
Due: openstack-tox-linters

Run kata-runsh-fedora-28 on kata proxy
  zuul.d/projects.yaml
Due: none

Disable vexxhost
  nodepool/nl03.openstack.org.yaml
Due: none

Revert "Disable vexxhost"
  nodepool/nl03.openstack.org.yaml
Due: none

Zuul for New Fenix project
  zuul.d/projects.yaml
Due: none

Remove undefined job legacy-rally-dsvm-keystone
  zuul.d/projects.yaml
Due: none

Add octavia to vmware_nsx jobs
  zuul.d/projects.yaml
Due: none

Test log-inventory role using base-test
  playbooks/base-test/pre.yaml
Due: none

Disable packethost to debug possible MTU issues
  nodepool/nl02.openstack.org.yaml
Due: none

Use supercedent manager in post
  zuul.d/pipelines.yaml
Due: none

Remove direct tagging from manila repositories
  gerrit/acls/openstack/manila-image-elements.config
  gerrit/acls/openstack/manila-test-image.config
Due: none

Add openstack/operations-guide to zuul
  zuul/main.yaml
Due: project-config-check-main-yaml

Use wildcard to apply system-required template
  tools/zuul-projects-checks.py
  zuul.d/projects.yaml
Due: openstack-tox-linters

increase timeout on neutron-lib periodic for vmware-nsx
  zuul.d/projects.yaml
Due: none

remove lower constraints to vmware-nsx gate pipeline
  zuul.d/projects.yaml
Due: none

Readd openstack/operations-guide repo
  gerrit/acls/openstack/operations-guide.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
Due: project-config-check-main-yaml

Add kata runtime and tests repos to zuul
  zuul/main.yaml
Due: project-config-check-main-yaml

Cleanup system-required stragglers
  zuul.d/projects.yaml
Due: none

Test for system-required
  tools/zuul-projects-checks.py
Due: openstack-tox-linters

Add api-ref-jobs to Watcher templates list
  zuul.d/projects.yaml
Due: none

Add devstack-plugin-ceph to #openstack-qa channel
  gerritbot/channels.yaml
Due: none

jenkins-job-builder change docs job
  zuul.d/projects.yaml
Due: none

Remove obsolete zuul and jenkins dev configs
  dev/jenkins/jobs/noop.yaml
  dev/jenkins/jobs/projects.yaml
  dev/zuul/layout.yaml
  dev/zuul/openstack_functions.py
Due: openstack-tox-linters

There are no core developers, only core reviewers
  zuul.d/pipelines.yaml
Due: none

Don't use requirements/constraints for infra docs
  zuul.d/jobs.yaml
Due: none
