Repository openstack/project-config: changes, and which Zuul jobs are due for each by the changed paths.
All: project-config-check-main-yaml, openstack-tox-linters, zuul-migrate

Path conditions:
  project-config-check-main-yaml: any of: zuul/main.yaml, gerrit/projects.yaml
  openstack-tox-linters: any of: ^.*\.sh$, ^.*\.py$, bindep.txt, other-requirements.txt, test-requirements.txt, tox.ini
  zuul-migrate: any of: zuul/mapping.yaml

Update publish-to-pypi-neutron
  zuul.d/projects.yaml
Due: none

Refresh openstack-ansible grafana dashboard
  grafana/openstack-ansible.yaml
Due: none

Bump Limestone to max-servers 50
  nodepool/nl02.openstack.org.yaml
Due: none

Remove usage of tox -e venv from release job
  playbooks/python-tarball/post.yaml
  playbooks/python-tarball/pre.yaml
  playbooks/python-tarball/run.yaml
  zuul.d/jobs.yaml
Due: none

Remove now obsolete required-repos
  zuul.d/projects.yaml
Due: none

Add Octavia charm
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Add kayobe-config[-dev] to gerritbot for #openstack-kayobe
  gerritbot/channels.yaml
Due: none

remove job settings for Telemetry repositories
  zuul.d/projects.yaml
Due: none

Add publish-to-pypi job for oslo.upgradecheck
  zuul.d/projects.yaml
Due: none

Add link to gating docs from gate pipeline description
  zuul.d/pipelines.yaml
Due: none

Add sphinx_build_dir to stx publish jobs
  zuul.d/starlingx-jobs.yaml
Due: none

remove job settings for neutron repositories
  zuul.d/projects.yaml
Due: none

Use tox-docs for governance-tc publishing
  playbooks/publish/static-tox-docs.yaml
  zuul.d/jobs.yaml
Due: none

Replace openSUSE tempest check with newer version
  zuul.d/projects.yaml
Due: none

Add publish-to-pypi-python3 template for kayobe
  zuul.d/projects.yaml
Due: none

Remove x-vrif-minus-2 from gerritbot notifications
  gerritbot/channels.yaml
  tools/irc_tests.py
Due: openstack-tox-linters

Fix syntax error with zuul-tarball job
  playbooks/zuul-tarball/run.yaml
Due: none

Force python3 for zuul-tarball job
  playbooks/zuul-tarball/run.yaml
Due: none

Use root user for editing pip.conf
  roles/build-wheels/tasks/main.yaml
Due: none

Small cleanups for zuul.d/projects.yaml
  zuul.d/projects.yaml
Due: none

update the branching script to include a semver bump
  roles/copy-release-tools-scripts/files/release-tools/add_release_note_page.sh
  roles/copy-release-tools-scripts/files/release-tools/make_branch.sh
Due: openstack-tox-linters

Cleanup devstack-gate jobs
  zuul.d/projects.yaml
Due: none

New Airship project - Tempest Plugin
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Disable packethost due to mirror outages
  nodepool/nl02.openstack.org.yaml
Due: none

Readd openstack-tox-py35-with-neutron-lib-master
  zuul.d/projects.yaml
Due: none

Retire astra projects
  gerrit/acls/openstack/astara.config
  gerrit/projects.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Remove periodic-tempest-dsvm-oslo-latest-full-master job
  zuul.d/projects.yaml
Due: none

networking-midonet: Update the dashboard for recent changes
  grafana/networking-midonet.yaml
Due: none

Add gabbi-tempest unofficial project
  gerrit/acls/openstack/gabbi-tempest.config
  gerrit/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Import puppet-crane for TripleO
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Reduce gate window floor to 10
  zuul.d/pipelines.yaml
Due: none

Disable ovh-gra1
  nodepool/nl04.openstack.org.yaml
Due: none

Install Pygments before checking README syntax for publish jobs
  roles/check-python-release/tasks/main.yaml
Due: none

Update governance-uc docs publishing
  zuul.d/jobs.yaml
Due: none

Revert "Reduce gate window floor to 10"
  zuul.d/pipelines.yaml
Due: none

Retire project Anchor - step 4
  gerrit/acls/openstack/anchor.config
  gerrit/projects.yaml
  gerritbot/channels.yaml
  zuul.d/projects.yaml
  zuul/main.yaml
Due: project-config-check-main-yaml

Fix Pygments install for release check
  roles/check-python-release/tasks/main.yaml
Due: none

Remove airship-deckhand jobs, as they are all in project
  zuul.d/projects.yaml
Due: none

wheel-mirror: serialise copies to AFS
  playbooks/publish/wheel-mirror.yaml
Due: none

Normalize projects.yaml
  gerrit/projects.yaml
Due: project-config-check-main-yaml
